<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Creative - Start Bootstrap Theme</title>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic"
        rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css"
        rel="stylesheet" />
    <link href="../public/stylesheets/css/styles.css" rel="stylesheet" />
    <link href="../public/stylesheets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../public/stylesheets/css/docs.min.css">
    <link rel="stylesheet" href="../public/stylesheets/css/docsearch.min.css">
</head>

<body id="page-top">
    <!-- Nav-->
    <nav class="navbar navbar-expand-md navbar-light bg-wight py-0">
        <div class="mx-auto order-0 ">
            <a class="navbar-brand p-0 " href="#">
                <img src="../public/images/assets/img/logo.png" alt="" loading="lazy">
            </a>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <form class="form-inline ml-auto">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Save Page</button>
            </form>
        </div>

    </nav>
    <div class="container-fluid">

        <div class="row flex-xl-nowrap">
            <div class="col-md-3 col-xl-3 bd-sidebar bg-light">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Left</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="//codeply.com">Codeply</a>
                    </li>
                </ul>

                <nav class="collapse bd-links" aria-label="Main navigation">
                    <div class="bd-toc-item active">
                        <a class="bd-toc-link" href="https://getbootstrap.com/docs/4.5/getting-started/introduction/">
                            Getting started
                        </a>

                        <ul class="nav bd-sidenav">
                            <li class="active bd-sidenav-active">
                                <a href="https://getbootstrap.com/docs/4.5/getting-started/introduction/">
                                    Introduction
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/getting-started/download/">
                                    Download
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/getting-started/contents/">
                                    Contents
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/getting-started/browsers-devices/">
                                    Browsers &amp; devices
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/getting-started/javascript/">
                                    JavaScript
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/getting-started/theming/">
                                    Theming
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/getting-started/build-tools/">
                                    Build tools
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/getting-started/webpack/">
                                    Webpack
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/getting-started/accessibility/">
                                    Accessibility
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="bd-toc-item">
                        <a class="bd-toc-link" href="https://getbootstrap.com/docs/4.5/layout/overview/">
                            Layout
                        </a>

                        <ul class="nav bd-sidenav">
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/layout/overview/">
                                    Overview
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/layout/grid/">
                                    Grid
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/layout/utilities-for-layout/">
                                    Utilities for layout
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="bd-toc-item">
                        <a class="bd-toc-link" href="https://getbootstrap.com/docs/4.5/content/reboot/">
                            Content
                        </a>

                        <ul class="nav bd-sidenav">
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/content/reboot/">
                                    Reboot
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/content/typography/">
                                    Typography
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/content/code/">
                                    Code
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/content/images/">
                                    Images
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/content/tables/">
                                    Tables
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/content/figures/">
                                    Figures
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="bd-toc-item">
                        <a class="bd-toc-link" href="https://getbootstrap.com/docs/4.5/components/alerts/">
                            Components
                        </a>

                        <ul class="nav bd-sidenav">
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/components/alerts/">
                                    Alerts
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/components/badge/">
                                    Badge
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/components/breadcrumb/">
                                    Breadcrumb
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/components/buttons/">
                                    Buttons
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/components/button-group/">
                                    Button group
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/components/card/">
                                    Card
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/components/carousel/">
                                    Carousel
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/components/collapse/">
                                    Collapse
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/components/dropdowns/">
                                    Dropdowns
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/components/forms/">
                                    Forms
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/components/input-group/">
                                    Input group
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/components/jumbotron/">
                                    Jumbotron
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/components/list-group/">
                                    List group
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/components/media-object/">
                                    Media object
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/components/modal/">
                                    Modal
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/components/navs/">
                                    Navs
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/components/navbar/">
                                    Navbar
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/components/pagination/">
                                    Pagination
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/components/popovers/">
                                    Popovers
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/components/progress/">
                                    Progress
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/components/scrollspy/">
                                    Scrollspy
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/components/spinners/">
                                    Spinners
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/components/toasts/">
                                    Toasts
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/components/tooltips/">
                                    Tooltips
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="bd-toc-item">
                        <a class="bd-toc-link" href="https://getbootstrap.com/docs/4.5/utilities/borders/">
                            Utilities
                        </a>

                        <ul class="nav bd-sidenav">
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/utilities/borders/">
                                    Borders
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/utilities/clearfix/">
                                    Clearfix
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/utilities/close-icon/">
                                    Close icon
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/utilities/colors/">
                                    Colors
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/utilities/display/">
                                    Display
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/utilities/embed/">
                                    Embed
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/utilities/flex/">
                                    Flex
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/utilities/float/">
                                    Float
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/utilities/image-replacement/">
                                    Image replacement
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/utilities/interactions/">
                                    Interactions
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/utilities/overflow/">
                                    Overflow
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/utilities/position/">
                                    Position
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/utilities/screen-readers/">
                                    Screen readers
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/utilities/shadows/">
                                    Shadows
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/utilities/sizing/">
                                    Sizing
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/utilities/spacing/">
                                    Spacing
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/utilities/stretched-link/">
                                    Stretched link
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/utilities/text/">
                                    Text
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/utilities/vertical-align/">
                                    Vertical align
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/utilities/visibility/">
                                    Visibility
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="bd-toc-item">
                        <a class="bd-toc-link" href="https://getbootstrap.com/docs/4.5/extend/approach/">
                            Extend
                        </a>

                        <ul class="nav bd-sidenav">
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/extend/approach/">
                                    Approach
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/extend/icons/">
                                    Icons
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="bd-toc-item">
                        <a class="bd-toc-link" href="https://getbootstrap.com/docs/4.5/migration/">
                            Migration
                        </a>

                        <ul class="nav bd-sidenav"></ul>
                    </div>
                    <div class="bd-toc-item">
                        <a class="bd-toc-link" href="https://getbootstrap.com/docs/4.5/about/overview/">
                            About
                        </a>

                        <ul class="nav bd-sidenav">
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/about/overview/">
                                    Overview
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/about/team/">
                                    Team
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/about/brand/">
                                    Brand
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/about/license/">
                                    License
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.5/about/translations/">
                                    Translations
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>

            </div>
        </div>
    </div>
    <footer class="bg-light py-3">
        <div class="container">
            <div class="small text-center text-muted">made © 2020 - MFEEE08-18</div>
        </div>
    </footer>

    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script src="../public/javascripts/js/scripts.js"></script>
</body>

</html>