<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../_css/bootstrap.min.css">
    <script src="../_js/jquery.min.js"></script>
    <script src="../_js/popper.min.js"></script>
    <script src="../_js/bootstrap.min.js"></script>
    <script src="../public/javascripts/heartJS/flycan.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="myCarousel" class="carousel slide pad_010 b_k" data-ride="carousel">
        <!-- 轮播（Carousel）指标 -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner bor_btm">
            <div class="item active">
                <div class="pic">

                    <img src="../public/images/img7.png" width="200px" alt="">
                    <img src="../public/images/img7.png" width="200px" alt="">
                    <img src="../public/images/img6.png" width="200px" alt="">
                </div>
            </div>
            <div class="item">
                <div class="pic">
                    <img src="../public/images/img7.png" width="200px" alt="">
                    <img src="../public/images/img7.png" width="200px" alt="">
                    <img src="../public/images/img6.png" width="200px" alt="">
                </div>
            </div>
            <div class="item">
                <div class="pic">
                    <img src="../public/images/img7.png" width="200px" alt="">
                    <img src="../public/images/img7.png" width="200px" alt="">
                    <img src="../public/images/img6.png" width="200px" alt="">
                </div>
            </div>
        </div>
        <!-- 轮播（Carousel）导航 -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
</body>

</html>