<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>member</title>
    <script src="../public/javascripts/member_js/jquery3.5.1.min.js"></script>
    <link rel="stylesheet" href="../public/stylesheets/member_css/style.css">
</head>

<body>
    <!-- 導覽列 -->
    <header>

        <nav>
            <ul class="nav_links">
                <li><a href="#">主頁</a></li>
                <li><a href="#">商品</a></li>
                <li><a href="#">功能</a></li>
            </ul>
        </nav>
        <img class="logo" src="../public/images/member_img/logo.png" alt="">

    </header>
    <!-- 導覽列  END -->



    


    <!-- 會員登入表 -->
    <form action="" class="login-form">
        <h1 class="member_logn">會員登入</h1>

        <div class="txtb">
            <input type="email">
            <span data-placeholder="電子郵件"></span>
        </div>

        <div class="txtb">
            <input type="password">
            <span data-placeholder="密碼"></span>
        </div>
        <div class="logbtn2">
            <input type="submit" class="logbtn" value="確認送出">
        </div>

        <div class="bottom-text">
            <span>還不是會員嗎?</span>
            <a href="signup.html">註冊</a>
        </div>
    </form>
    <!-- 會員登入表END -->




    <!-- 輸入框文字效果 -->
    <script>
        $(".txtb input").on("focus", function () {
            $(this).addClass("focus");
        });

        $(".txtb input").on("blur", function () {
            if ($(this).val() == "")
                $(this).removeClass("focus");
        });
    </script>

</body>

</html>