<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/stylesheets/profile_css/bootstrap.min.css">
    <script src="../public/javascripts/profile_js/jquery.min.js"></script>
    <script src="../public/javascripts/profile_js/popper.min.js"></script>
    <script src="../public/javascripts/profile_js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../public/stylesheets/profile_css/style.css">

</head>


<body>



    <div class="container">
        <header>

            <nav>
                <ul class="nav_links">
                    <li><a href="#">主頁</a></li>
                    <li><a href="#">商品</a></li>
                    <li><a href="#">功能</a></li>
                </ul>
            </nav>
            <img class="logo" src="../public/images/profile_imgs/logo.png" alt="">

        </header>


        <div class="row">
            <div class=" col-lg-3 ">
                <div class="card-radius card left-profile-card">
                    <div class="card-body">
                        <div class="text-center">
                            <img item-wrap
                                src="https://crawl.nosdn.127.net/nbotreplaceimg/807fb39cdf0a2cc26bd7c0ec0855255d/08a456acf9a8fb29d8981e2fdd8ef63f.png"
                                alt="" class="user-profile">
                            <h3>John</h3>

                        </div>
                        <div class="personal-info ">
                            <ul class="personal-list">
                                <li><i class="fas fa-briefcase "></i><span>網頁設計師</span></li>
                                <li><i class="fas fa-map-marker-alt "></i><span> 台中市 </span></li> </span></li>
                                <li><i class="far fa-envelope "></i><span>aaaa@gmail.com</span></li>
                                <li><i class="fas fa-mobile "></i><span>0966-123-654</span></li>
                            </ul>
                        </div>


                    </div>
                </div>
            </div>


            <div class=" col-lg-9">

                <div class="card-body2 card rigt-profile-card">

                    <div class="container">
                        <span>樣板庫</span>
                        <div class=" row text-center">

                            <div class="item web col-sm-6 col-md-4 col-lg-4 mb-4">
                                <a href="work-single.html" class="item-wrap fancybox">
                                    <div class="work-info">
                                        <h3>編輯</h3>
                                    </div>
                                    <img class="img-fluid"
                                        src="https://cdn1.editmysite.com/merchandised-screenshots/57e1c5a58d027_tablet_1x.jpg">
                                </a>
                            </div>

                            <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
                                <a href="work-single.html" class="item-wrap fancybox">
                                    <div class="work-info">
                                        <h3>編輯</h3>
                                    </div>
                                    <img class="img-fluid"
                                        src="https://cdn1.editmysite.com/merchandised-screenshots/57e0699c2e247_tablet_1x.jpg">
                                </a>
                            </div>

                            <div class="item branding col-sm-6 col-md-4 col-lg-4 mb-4">
                                <a href="work-single.html" class="item-wrap fancybox">
                                    <div class="work-info">
                                        <h3>編輯</h3>
                                    </div>
                                    <img class="img-fluid"
                                        src="https://cdn1.editmysite.com/merchandised-screenshots/57e0698bd8212_tablet_1x.jpg">
                                </a>
                            </div>



                            <div class="item design col-sm-6 col-md-4 col-lg-4 mb-4">
                                <a href="work-single.html" class="item-wrap fancybox">
                                    <div class="work-info">
                                        <h3>編輯</h3>
                                    </div>
                                    <img class="img-fluid"
                                        src="https://cdn1.editmysite.com/merchandised-screenshots/583c9246a7f56_tablet_1x.jpg">
                                </a>
                            </div>

                            <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
                                <a href="work-single.html" class="item-wrap fancybox">
                                    <div class="work-info">
                                        <h3>編輯</h3>
                                    </div>
                                    <img class="img-fluid"
                                        src="https://cdn1.editmysite.com/merchandised-screenshots/58508da506476_tablet_1x.jpg">
                                </a>
                            </div>

                            <div class="item branding col-sm-6 col-md-4 col-lg-4 mb-4">
                                <a href="work-single.html" class="item-wrap fancybox">
                                    <div class="work-info">
                                        <h3>編輯</h3>
                                    </div>
                                    <img class="img-fluid"
                                        src="https://cdn1.editmysite.com/merchandised-screenshots/57e067d941a6e_tablet_1x.jpg">
                                </a>
                            </div>

                        </div>



                    </div>


                </div>
                <div class="card-body2 card rigt-profile-card">
                    <div class="container">
                        <span>作品集</span>
                        <div class="row text-center">
                            


                            <div class="item branding col-sm-6 col-md-4 col-lg-4 mb-4">
                                <a href="work-single.html" class="item-wrap fancybox">
                                    <div class="work-info">
                                        <h3>編輯</h3>
                                    </div>
                                    <img class="img-fluid"
                                        src="https://cdn1.editmysite.com/merchandised-screenshots/588a9437ed5eb_tablet_1x.jpg">
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>



</body>

</html>