<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/heartcss/_css/bootstrap.min.css">
    <script src="../public/javascripts/heartJS/_js/jquery.min.js"></script>
    <script src="../public/javascripts/heartJS/_js/popper.min.js"></script>
    <script src="../public/javascripts/heartJS/_js/bootstrap.min.js"></script>
    <script src="../public/javascripts/heartJS/flycan.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,600,700,900&display=swap" rel="stylesheet"> -->
    <title>Document</title>

    <link rel="stylesheet" href="../public/stylesheets/heartcss/button.css">
</head>
<title>Xiang se</title>

<body>

<h3>按鈕</h3><br><br><br>
<!-- 有顏色的按鈕 顏色可自己在改-->
    <div style="text-align: center;"><button class="btn1 buttonNavy fsize1" tabindex="0" >START<span></span><span></span><span></span><span></span><b aria-hidden="true">GO!</b><b aria-hidden="true">GO!</b><b aria-hidden="true">GO!</b><b aria-hidden="true">GO!</b></button></div><br>
    <div style="text-align: center;"><button class="btn1 buttonTea fsize2" tabindex="0" >START<span></span><span></span><span></span><span></span><b aria-hidden="true">GO!</b><b aria-hidden="true">GO!</b><b aria-hidden="true">GO!</b><b aria-hidden="true">GO!</b></button></div><br>
    <div style="text-align: center;"><button class="btn1 buttonGreen fsize3" tabindex="0">START<span></span><span></span><span></span><span></span><b aria-hidden="true">GO!</b><b aria-hidden="true">GO!</b><b aria-hidden="true">GO!</b><b aria-hidden="true">GO!</b></button></div><br>
    <div style="text-align: center;"><button class="btn1 buttonBlue fsize4" tabindex="0">START<span></span><span></span><span></span><span></span><b aria-hidden="true">GO!</b><b aria-hidden="true">GO!</b><b aria-hidden="true">GO!</b><b aria-hidden="true">GO!</b></button></div><br>
    <div style="text-align: center;"><button class="btn1 buttonTry fsize5" tabindex="0">START<span></span><span></span><span></span><span></span><b aria-hidden="true">GO!</b><b aria-hidden="true">GO!</b><b aria-hidden="true">GO!</b><b aria-hidden="true">GO!</b></button></div><br>

<!-- START!按鈕 -->
    <div style="text-align: center;"><a href="" class="btn2 effect04" data-sm-link-text="Login" target="_blank"><span>START!</span></a></div><div></div>
<!-- 登入註冊按鈕 -->
    <div class='btn3'>
        <div class='line'></div> 
        <div class='line'></div>
        <div class='line'></div>
        <div class='line'></div>
        <div class='line'></div>
        <div class='line'></div>
        <span>登入/註冊</span>
    </div><br><br><br>
<!-- 前往結帳按鈕 -->
    <a href="" class="btn effect01" target="_blank"><span>前往結帳</span></a><br><br><br><br>

   

</body>


</html>