<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/heartcss/_css/bootstrap.min.css">
    <script src="../public/javascripts/heartJS/_js/jquery.min.js"></script>
    <script src="../public/javascripts/heartJS/_js/popper.min.js"></script>
    <script src="../public/javascripts/heartJS/_js/bootstrap.min.js"></script>
    <script src="../public/javascripts/heartJS/flycan.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,600,700,900&display=swap" rel="stylesheet"> -->
    <title>Document</title>

    <link rel="stylesheet" href="../public/stylesheets/heartcss/button.css">
</head>
<title>Xiang se</title>

<body>

    <!-- 導覽頁 -->
    
    <header class="btn5">
        <div class="btn5-containerr">
          <h1 class="btn5-logo"></h1>
    
          <nav>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Pricing</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
        </div>
      </header>

<h3>按鈕</h3><br><br><br>
<!-- 有顏色的按鈕 顏色可自己在改-->
    <div style="text-align: center;"><button class="btn1 buttonNavy btn1-Size1" tabindex="0" >START<span></span><span></span><span></span><span></span><b aria-hidden="true">GO!</b><b aria-hidden="true">GO!</b><b aria-hidden="true">GO!</b><b aria-hidden="true">GO!</b></button></div><br>
    <div style="text-align: center;"><button class="btn1 buttonTea btn1-Size2" tabindex="0" >START<span></span><span></span><span></span><span></span><b aria-hidden="true">GO!</b><b aria-hidden="true">GO!</b><b aria-hidden="true">GO!</b><b aria-hidden="true">GO!</b></button></div><br>
    <div style="text-align: center;"><button class="btn1 buttonGreen btn1-Size3" tabindex="0">START<span></span><span></span><span></span><span></span><b aria-hidden="true">GO!</b><b aria-hidden="true">GO!</b><b aria-hidden="true">GO!</b><b aria-hidden="true">GO!</b></button></div><br>
    <div style="text-align: center;"><button class="btn1 buttonBlue btn1-Size4" tabindex="0">START<span></span><span></span><span></span><span></span><b aria-hidden="true">GO!</b><b aria-hidden="true">GO!</b><b aria-hidden="true">GO!</b><b aria-hidden="true">GO!</b></button></div><br>
    <div style="text-align: center;"><button class="btn1 buttonTry btn1-Size5" tabindex="0">START<span></span><span></span><span></span><span></span><b aria-hidden="true">GO!</b><b aria-hidden="true">GO!</b><b aria-hidden="true">GO!</b><b aria-hidden="true">GO!</b></button></div><br>

<!-- START!按鈕 -->
    <div style="text-align: center;"><a href="" class="btn2 effect04 btn2-Size1" data-sm-link-text="Login" target="_blank"><span>START!</span></a></div><br><br>
    <div style="text-align: center;"><a href="" class="btn2 effect05 btn2-Size2" data-sm-link-text="Login" target="_blank"><span>START!</span></a></div><br><br>
    <div style="text-align: center;"><a href="" class="btn2 effect06 btn2-Size3" data-sm-link-text="Login" target="_blank"><span>START!</span></a></div><br><br>

<!-- 登入註冊按鈕 -->
    <div class='btn3 btn3-Size1 btn3-black'>
        <div class='line'></div> 
        <div class='line'></div>
        <div class='line'></div>
        <div class='line'></div>
        <div class='line'></div>
        <div class='line'></div>
        <span>登入/註冊</span>
    </div><br><br><br>

    <div class='btn3 btn3-Size2 btn3-gray'>
        <div class='line'></div> 
        <div class='line'></div>
        <div class='line'></div>
        <div class='line'></div>
        <div class='line'></div>
        <div class='line'></div>
        <span>登入/註冊</span>
    </div><br><br><br>

    <div class='btn3 btn3-Size3 btn3-blue'>
        <div class='line'></div> 
        <div class='line'></div>
        <div class='line'></div>
        <div class='line'></div>
        <div class='line'></div>
        <div class='line'></div>
        <span>登入/註冊</span>
    </div><br><br><br> 


<!-- 分隔線 -->
<hr class="hr-style1">
<hr class="hr-style2">
<hr class="hr-style3">   


<!-- 前往結帳按鈕 -->
&emsp;&emsp;<a href="" class="btn effect01" target="_blank"><span>前往結帳</span></a><br><br><br>





<!-- 問卷按鈕 -->
<div class='vertical-align'>
    <div class='btn4'>
    <label>
    <input checked='' name='button-group' type='radio' value='item'>
    <span class='btn4-1 first'>Never</span>
    </input>
    </label>
    <label>
    <input name='button-group' type='radio' value='other-item'>
    <span class='btn4-1'>Sometimes</span>
    </input>
    </label>
    <label>
    <input name='button-group' type='radio' value='other-item'>
    <span class='btn4-1'>Often</span>
    </input>
    </label>
    <label>
    <input name='button-group' type='radio' value='third'>
    <span class='btn4-1'>Usually</span>
    </input>
    </label>
    <label>
    <input name='button-group' type='radio' value='third'>
    <span class='btn4-1 last'>Always</span>
    </input>
    </label>
    </div>
    </div><br><br><br>

    <!-- 會員登入 -->
<div class="btn6">
        <form >
        <h1>LOGIN</h1>
        <input placeholder="Username" type="text" required="">
        <input placeholder="Password" type="password" required="">
        <button>Submit</button>
        </form>
</div><br><br><br><br>


    


   

</body>


</html>