<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../_css/bootstrap.min.css">
    <script src="../_js/jquery.min.js"></script>
    <script src="../_js/popper.min.js"></script>
    <script src="../_js/bootstrap.min.js"></script>
    <script src="../public/javascripts/heartJS/flycan.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,600,700,900&display=swap" rel="stylesheet"> -->
    <title>Document</title>

    <link rel="stylesheet" href="../public/stylesheets/heartcss/style_1.css">
</head>
<title>Xiang se</title>

<body>


    <!-- 導覽頁 -->

    <nav class="navbar navbar-expand-md navbar-light bg-wight p-1" id="notoSans">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>

        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">首頁</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">功能介紹</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">樣板一覽</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
        </div>
        <div class="mx-auto order-0">
            <a class="navbar-brand p-0" href="#">
                <img src="../public/image/img3.jpg" alt="" loading="lazy" width="91px" height="71px">
            </a>

        </div>

        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <form class="form-inline ml-auto">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">登入/註冊</button>
            </form>
        </div>
    </nav>
    <!-- 第一頁 -->
    <div class="bg1 container d-flex">

        <div class="col-md-3 cott1">
            <div class="cott1-1">
                <h3 class="hideme3">您的想法即是關鍵,<br>建立一個網站</h3><br>
                <div class="hideme3"><a class="a1"><button class="btn btn-primary" type="submit">START</button></a></div>
            </div>

            <div class="bg1img2 hideme1"><img src="../public/image/img6.png" alt=""></div>
        </div>
        <div class="bg1img col-md-7"><img src="../public/image/img5.png" width="100px">
            <div class="bg1img1 hideme1"><img src="../public/image/img7.png" alt=""></div>
        </div>



    </div>

    <!-- 第二頁 -->
    <div class="bg2">
        <div class="container content ">
            <div class="row">

                <div class="col-12 col-md-6 cot1">

                    <h4 class="hideme">網站主題</h4><br>
                    <h2 class="hideme">每個主題皆處處展現<br>貼心周到的設計風格</h2><br><br>
                    <h5 class="hideme">由頂尖設計人員為您精心創作各式各樣的優美主題，<br>讓您的網站在任何裝置上皆可呈現出專業精美<br>的外觀。所有主題皆立即可用並支援完整自訂。
                    </h5><br>
                    <div class="hideme"><a class="a1"><button class="btn btn-primary" type="submit">Button</button></a></div>
                    <br>

                </div>
                <div class="col-12 col-md-6 cot1 "><img src="../public/image/img8.jpg" class="img-fluid cot2 hideme"><img src="../public/image/img9.jpg" class="img-fluid cot2-1 hideme"></div>

            </div>

        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-12 col-md-12 cott2 text-center">
                <img src="../public/image/img3.jpg" width="180px" alt="">
                <h3>網站建立工具</h3><br>
                <h2>建立網站從未如此簡單</h2><br>
                <h5>您可根據無限想像創意，建立富有特色的專屬網站。提供建立獨特網站<br>所需的一切工具，無須具備任何技術專業。</h5>
            </div>
            <div class="col-12 col-md-3 cot1 ">

                <h4 class=" hideme ">拖放型建立工具</h4>
                <h3 class="hideme ">運用強大工具建立完美網站</h3><br><br>


                <h4 class="hideme ">拖放型建立工具</h4>
                <h3 class="hideme ">運用強大工具建立完美網站</h3><br><br>


                <h4 class="hideme ">拖放型建立工具</h4>
                <h3 class="hideme ">運用強大工具建立完美網站</h3>

            </div>
            <div class="col-12 col-md-6 cot1 ">
                <img src="../public/image/img4.jpg " alt=" " width="100% ">
            </div>
            <div class="col-12 col-md-3 cot1-1 ">

                <h4 class="hideme2 ">拖放型建立工具</h4>
                <h3 class="hideme2 ">運用強大工具建立完美網站</h3><br><br>


                <h4 class="hideme2 ">拖放型建立工具</h4>
                <h3 class="hideme2 ">運用強大工具建立完美網站</h3><br><br>


                <h4 class="hideme2 ">拖放型建立工具</h4>
                <h3 class="hideme2 ">運用強大工具建立完美網站</h3>

            </div>
        </div>
    </div>

    <div class="container ">
        <div class="row ">
            <div class="col-12 col-md-6 cot1-2 "><img src="../public/image/img1.jpg " class="img-fluid cot2-2 hideme"></div>
            <div class="col-12 col-md-6 cot1 ">

                <h4 class="hideme ">行動應用程式</h4><br>
                <h2 class="hideme ">先進的行動應用程式讓您無論<br>身處何地，皆可輕鬆追蹤績效、<br>與訪客互動和管理網站。</h2><br><br>


                <br>

            </div>


        </div>

    </div>

    <!-- <footer> -->
    <div class="footerBar ">
        <div class="container d-flex ">
            <table>


                <ul>

                    <!-- <li>
                        <a href="Xiang se.html "></a><img src="image/Xiang se/xiang_logo.jpg " width="100px " alt=" "></a>
                    </li> -->


                </ul><br>
                <ul>
                    <li>
                        <h5>產品</h5>
                    </li>
                    <li>
                        <a href=" ">網站</a>
                    </li>
                    <li>
                        <a href=" ">線上商店</a>
                    </li>
                    <li>
                        <a href=" ">開店費用</a>
                    </li>




                </ul><br>
                <ul>
                    <li>
                        <h5>資源</h5>
                    </li>
                    <li>
                        <a href=" ">關於</a>
                    </li>



                </ul><br>
                <ul>
                    <h5>公司</h5>
                    <li>
                        <a href=" ">關於</a>
                    </li>
                    <li>
                        <a href=" ">聯絡我們</a>
                    </li>
                    <li>
                        <a href=" ">聯絡我們</a>
                    </li>
                    <li>
                        <a href=" ">聯絡我們</a>
                    </li>

                </ul>


            </table>
        </div>
    </div>


    </footer>

</body>


</html>