/* Base */






body{
  font-size: 1rem;
  font-family: "Legacy", "Noto Sans TC", "Helvetica Neue", "Helvetica", "Nimbus Sans L", "Arial", "Liberation Sans", "Source Han Sans CN Normal", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", "STHeiti", "SimHei", "WenQuanYi Zen Hei Sharp", "sans-serif", "Apple LiGothic", "微軟正黑體"
}


a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a:hover {
    text-decoration: none; }

p,a,span,h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 ,nav{
  font-weight: 300;
  color: #364d59;

   }
   .site-section {
    padding: 7rem 0; 
    display: flex;
    flex-wrap: wrap;
  }




 






    /* 導覽列 */
  /* .navbar a{
      padding: 15px;
      color: black;
      text-decoration: none;
      font-size: 20px;
      
  }
  .member{
      margin-left: 600px;
  }
  .navbar{
      background-image: url(/public/images/features_imgs/logo1.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-color: white;
      width: 100%;
      height: 80px;
  } */

  /* 導覽列 END*/
  

  /* 背景圖 */
  .home-inner{
    background-image: url(https://images.pexels.com/photos/270669/pexels-photo-270669.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
    /* background: #f5f5f7; */
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    opacity: .2;
    height:79vh;
    width: 100%;
}

/* 背景圖 END*/


/* 文字介紹 */
.caption{
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 35%;
  z-index: 1;
  color: black;
  
}
.caption h1{
  font-weight: 700;
  letter-spacing: .3rem;
  color: rgb(78, 74, 74);
  
}
.caption p{
  font-size: 1.8rem;
  color: rgb(68, 67, 67);
  
}
/* 文字介紹 END*/





/* 圖文介紹 */
.h2{
 padding-left: 260px;
 
}
h2{
  font-weight: 700;
  letter-spacing: .3rem;
  color: rgb(136, 122, 122);
  font-size: 40px;
  padding-bottom: 3px;
}

.heading-39291 {
  font-size: 30px;
  font-weight: bold;
  color: #000;
  margin-bottom: 30px;
  text-align: center;

 }
 .col-md-7{
   margin: auto;
 }
  
 .service-29193 {
  padding: 50px 30px; 
}
.service-29193 h3 {
    font-weight: 900;
    font-size: 25px; 
  }
.service-29193 h3 ,p{
      color: #000;
     }
.service-29193 p{
      font-size: 18px;
      }
.service-29193 .img-wrap {
    margin-bottom: 40px;
    display: block;
     }
.service-29193 img {
    position: relative;
    z-index: 1;
     width: 120px;
     height: 200px;
}
#row1{
  margin-bottom: -170px;
}

/* 圖文介紹 END*/

/* 圖片效果 */

.img-link {
  position: relative;
  bottom: 0px;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  -webkit-transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
  -o-transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67); 
}

.img-link:hover {
    bottom: 20px; 
}

/* 圖片效果 END*/




/* 文字輪播 */
.testimonial-1 p {
    font-size: 1.5rem; 
    padding: 1px;
  }
    
/* 文字輪播END */
  
  


/* 頁尾 */
.logo img{
  width: 200px;
}

  /* 頁尾 END*/

  @media (max-width: 1440px){
    .list-unstyled p{
      font-size: 13px;
    }
    .logo img{
      width: 100px;
    }
  }

  
@media (max-width: 500px){
    .caption h1{
    font-size: 33px;
  }
  .caption p{
    font-size: 1.1rem;
  }
  .heading-39291 {
    font-size: 20px;
  }
  .logo img{
    width: 100px;
  }
  .testimonial-1 p {
    font-size: 1.2rem; 
    padding: 1px;
  }
}



/* 會員按鈕 */
.btn3 {
  width: 200px;
  height: 50px;
  /* position: absolute; */
  border: solid rgba(255, 255, 255, 0.3) 1px;
  background: transparent;
  cursor: pointer;
  transition: all 1s;
}

.btn3 span {
  position: absolute;
  top: 15px;
  right: 60px;
  color: black;
  opacity: 0.7;
}

.btn3 .line {
  background: black;
  position: absolute;
  transition: none;
  transform: scale(0);
  opacity: 1;
}

.btn3 .line:nth-child(1) {
  transform-origin: 100% 100%;
  height: 3px;
  width: 20%;
  bottom: 0;
}

.btn3 .line:nth-child(4) {
  transform-origin: 0 100%;
  height: 3px;
  width: 20%;
  top: -1px;
  right: 0;
}

.btn3 .line:nth-child(2) {
  transform-origin: 100% 100%;
  height: 100%;
  width: 3px;
  bottom: 0;
  left: -1px;
}

.btn3 .line:nth-child(5) {
  transform-origin: 100% 0;
  height: 100%;
  width: 3px;
  bottom: 0;
  right: -1px;
}

.btn3 .line:nth-child(3) {
  transform-origin: 0 100%;
  height: 3px;
  width: 100%;
  top: -1px;
  left: -1px;
}

.btn3 .line:nth-child(6) {
  transform-origin: 100% 0;
  height: 3px;
  width: 100%;
  bottom: 0;
  right: -1px;
}

.btn3:hover > .line {
  transform: scale(1);
  opacity: 0;
  transition: all 1s;
}

.btn3:hover > .line:nth-child(2), .btn3:hover > .line:nth-child(5) {
  transition-delay: 0.5s;
}

.btn3:hover > .line:nth-child(3), .btn3:hover > .line:nth-child(6) {
  transition-delay: 0.9s;
}

.btn3:hover {
  background: rgba(255, 255, 255, 0.03);
}