body{
    font-family: "Legacy", "Noto Sans TC", "Helvetica Neue", "Helvetica", "Nimbus Sans L", "Arial", "Liberation Sans", "Source Han Sans CN Normal", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", "STHeiti", "SimHei", "WenQuanYi Zen Hei Sharp", "sans-serif", "Apple LiGothic", "微軟正黑體"
}
.bg {
    width: 100%;
    height: 89.5vh;
    background: #e2e2e2;
}

h1 {
    color: #222;
    margin-bottom: 30px;
}

h5 {
    color: #7b7b7b;
    margin-bottom: 36px;

}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
}

.wrap img {
    width: 780px;
    height: 480px;

}

.button {
    width: 150px;
    height: 70px;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 1px;
    margin-bottom: 30px;
    cursor: pointer;
    display: inline-block;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.20);
}

.button-4 {
    background-color: transparent;
    border: 1px solid #cacaca;            color: #333;
    transition: .3s;
    background-color: white;
    border-radius: 10px;
    font-size: 20px;
}

.button-4:hover {
    animation: pulse 1s infinite;
    transition: .3s;
}


@keyframes pulse {
    0% {
        transform: scale(1);
    }

    70% {
        transform: scale(.9);
    }

    100% {
        transform: scale(1);
    }

    
}
.txt{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 500px){
    .wrap img {
        width: 100%;
        height: 43vh;   
        margin-top: -50px;
     
    }
    h1 {
        color: #222;
        margin: -160px 0 29px 0;
        text-align: center;
        font-size: 32px;
    }
    h5 {
        color: #7b7b7b;
        margin-bottom: 38px;
        font-size: 16px;
    }
    .btn4{
        display: flex;
       justify-content: center;
       
    }
    .button{
        margin: 10px;
        width: 115px;
    }
   
    .btnb{
        margin: auto;
        padding-top: 20px;
    }
    .bg1{
        height:91.3vh;
    }
}
@media screen and (min-width: 767px) and (max-width: 1200px){
    .bg1 {
        height: 93.8vh;
    }
.button{
        margin: 10px;
        width: 115px;
    }
    .btnb{
        margin: auto;
        padding-top: 20px;
    }
    h1 {
        color: #222;
        margin: -160px 0 29px 0;
        text-align: center;
        font-size: 55px;
    }
    h5 {
        color: #7b7b7b;
        margin-bottom: 38px;
        font-size: 25px;
    }
    .wrap img{
        width: 100%;
    }
}
@media screen and (min-width: 1000px) and (max-width: 1200px){
    .bg1 {
        height: 95.5vh;
    }
.button{
        margin: 10px;
        width: 115px;
    }
    .btnb{
        margin: auto;
        padding-top: 33px;
    }
    h1 {
        color: #222;
        margin: -160px 0 29px 0;
        text-align: center;
        font-size: 77px;
    }
    h5 {
        color: #7b7b7b;
        margin-bottom: 38px;
        font-size: 33px;
    }
    .wrap img{
        width: 100%;
        height: 50vh;
    }
}