<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700i,900|Roboto&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="fonts/icomoon/style.css">

  <link rel="stylesheet" href="../public/stylesheets/features_css/bootstrap.min.css">
  <link rel="stylesheet" href="../public/stylesheets/features_css/animate.min.css">
  <link rel="stylesheet" href="../public/stylesheets/features_css/jquery.fancybox.min.css">
  <link rel="stylesheet" href="../public/stylesheets/features_css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">
  <link rel="stylesheet" href="../public/stylesheets/features_css/aos.css">

  <!-- MAIN CSS -->
  <link rel="stylesheet" href="../public/stylesheets/features_css/style.css">

</head>

<body data-offset="300">


  <div class="site-wrap" >





    <header class="site-navbar site-navbar-target bg-white" role="banner">

      <div class="container">
        <nav class="navbar  fixed-top">

          <div>
            <a href="#">主頁</a>
            <a href="#">商品</a>

            <a href="#">功能介紹</a>
          </div>

          <div class="member">
            <form action="">
              <a href="#">登入</a>
              <a href="#">註冊</a>
            </form>
          </div>
        </nav>
      </div>

    </header>




    <div>


      <div class="landibg">
        <div class="home-wrap">
          <div class="home-inner">
            
          </div>
        </div>
      </div>

      <div class="caption text-center">
        <h1>您的網站已蓄勢待發，
          是放手的時候了</h1><br>
        <p>讓精美的網站、線上商店或部落格為您代言。</p>
        <p>運用的拖放式網站建置工具、整合式電子商務平台、
        <p>可自調版面主題，
          您不需任何技術背景，就能建置一個專業的網站。</p>
      </div>





    </div>

    


    <div class="site-section ">
      <div class="container">
        <div class="row mb-5 align-items-center">
          <div class="col-md-7">
            <h2 class="heading-39291 text-black mb-3">用手指就能操作的強大設計工具</h2>
            
          </div>
        </div>
        <div class="row">

          <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class=" service-29193 text-center">
              <span class="img-wrap mb-5">
                <img src="../public/images/features_imgs/phone.png" alt="Image" class="img-fluid img-link">
              </span>
              <h3 class="mb-4">行動裝置</h3>
              <p>利用可自調版面主題<br>建立美輪美奐的行動版網站</p>
            </div>
          </div>
          <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="service-29193 text-center">
              <span class="img-wrap mb-5">
                <img src="../public/images/features_imgs/img_1.png" alt="Image" class="img-fluid img-link">
              </span>
              <h3 class="mb-4">範本</h3>
              <p>可完全自定的網頁設計<br>網站範本</p>
            </div>
          </div>

          <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="">
            <div class="service-29193 text-center">
              <span class="img-wrap mb-5">
                <img src="../public/images/features_imgs/img_2.png" alt="Image" class="img-fluid img-link">
              </span>
              <h3 class="mb-4">建置工具</h3>
              <p>使用強大的施放式工具<br>建立完美的網站</p>            </div>
          </div>

          <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="">
            <div class="service-29193 text-center">
              <span class="img-wrap mb-5">
                <img src="../public/images/features_imgs/img_3.png" alt="Image" class="img-fluid img-link">
              </span>
              <h3 class="mb-4">撰寫部落格</h3>
              <p>一分鐘內建立超棒的部落格<br>建立美輪美奐的行動版網站</p>
            </div>
          </div>
          <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="service-29193 text-center">
              <span class="img-wrap mb-5">
                <img src="../public/images/features_imgs/img_4.png" alt="Image" class="img-fluid img-link">
              </span>
              <h3 class="mb-4">表單</h3>
              <p>建立自訂的聯絡表單、<br>清單和問卷調查<br></p>
            </div>
          </div>
          <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="service-29193 text-center">
              <span class="img-wrap mb-5">
                <img src="../public/images/features_imgs/img_5.png" alt="Image" class="img-fluid img-link">
              </span>
              <h3 class="mb-4">照片</h3>
              <p>可完全自定的網頁設計<br>網站範本</p>
            </div>
          </div>

        </div>
      </div>
    </div>


    <div class="site-section section-4">
      <div class="container">

        <div class="row justify-content-center text-center">
          <div class="col-md-7">
            <div class="slide-one-item owl-carousel">
              <blockquote class="testimonial-1">
                <p>隨心所欲，用自己的方式建置理想的網站</p>
                
              </blockquote>

              <blockquote class="testimonial-1">
                <p>可自調版面的專業網站主題，能讓您在任何裝置上建立美輪美奐的網站</p>
                
              </blockquote>

              
            </div>
          </div>
        </div>
      </div>
    </div>




    <footer class="site-footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-7">
                <h2 class="footer-heading mb-4">About Us</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
                  the blind texts. </p>

              </div>
              <div class="col-md-4 ml-auto">
                <h2 class="footer-heading mb-4">Features</h2>
                <ul class="list-unstyled">
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Testimonials</a></li>
                  <li><a href="#">Terms of Service</a></li>
                  <li><a href="#">Privacy</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
              </div>

            </div>
          </div>
          <div class="col-md-4 ml-auto">

           


            <h2 class="footer-heading mb-4">Follow Us</h2>
            <a href="#about-section" class="smoothscroll pl-0 pr-3"><span class="icon-facebook"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
            </form>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="pt-5">
              <p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made
                with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com"
                  target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </p>
            </div>
          </div>

        </div>
      </div>
    </footer>

  </div>

  <script src="../public/javascripts/features_js/jquery-3.3.1.min.js"></script>
  <script src="../public/javascripts/features_js/popper.min.js"></script>
  <script src="../public/javascripts/features_js/bootstrap.min.js"></script>
  <script src="../public/javascripts/features_js/owl.carousel.min.js"></script>
  <script src="../public/javascripts/features_js/jquery.sticky.js"></script>
  <script src="../public/javascripts/features_js/jquery.waypoints.min.js"></script>
  <script src="../public/javascripts/features_js/jquery.animateNumber.min.js"></script>
  <script src="../public/javascripts/features_js/jquery.fancybox.min.js"></script>
  <script src="../public/javascripts/features_js/jquery.easing.1.3.js"></script>
  <script src="../public/javascripts/features_js/aos.js"></script>

  <script src="../public/javascripts/features_js/main.js"></script>



</body>

</html>