 /* Navigation  */
*{
    margin: 0;
    padding: 0;
}


.navbar a{
    padding: 15px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    
}
.member{
    margin-left: 600px;
}
.navbar{
    background-image: url(../_image/uugai.com_1593139097704.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: white;
    width: 100%;
    height: 70px;
}

.home-inner{
    background-image: url(../_image/brandi-redd-aJTiW00qqtI-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    height:85vh;
    margin-top: 90px;
    opacity: .3;
    width: 100%;
}


 /*  End Navigation  */


 /* Start Ladding Page Section */
.caption{
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    z-index: 1;
    color: black;
    
}
.caption h1{
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .2rem black;
    color: rgb(78, 74, 74);
}
.caption p{
    font-size: 1.8rem;
    text-shadow:.1rem .1rem .5rem rgb(88, 85, 85); ;
    color: rgb(68, 67, 67);
    
}

/* End Ladding Page Section */


.offset_1{
    background-image: url(../_image/gray-laptop-computer-showing-html-codes-in-shallow-focus-160107.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: right;
    
    width: 100%;
    
  
   /* background-color: blue; */
   /* width: 100vh; */

}



/* Start Course Section */

.narrow_1{
    height: 50vh;
    background-color: rgba(0,0,0,0.55);
}
.Introduction{
    position: absolute;
    bottom:-250px;
    left: 30px;
    z-index: 1;
    color: black;
}
.Introduction h2{
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem 3rem black;
    color: white;
    font-size: 50px;
    padding-bottom: 3px;
}
.Introduction p{
    font-size: 25px;
    text-shadow:.1rem .1rem .5rem rgb(88, 85, 85); ;
    color: white;
}
/* End Course Section */



/* Start Featuress Section */
.img_1{
    width: 200px;
    height: 300px;
}



/* End  Featuress Section */




/* Start Resources Section */

.narrow{
    width: 75%;
    margin: 1.5rem auto;
    padding-top: 2rem;
}
/* .heading_1{
    background-color: tomato;
    
} */
.narrow .heading{
    font-size: 40px;
    margin-top: -20px;
    font-weight: 700;
    
}

.jumbotron{
    margin-bottom: 0;
    padding: 2rem 0 3.5rem;
    border-radius: 0;
}


.fixed-background{
    background-image: url(../_image/apple-iphone-smartphone-desk-4158.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
    
}
.narrow_2{
    background-color: rgba(0,0,0,0.55);
    color: white;
    height: 100%;
    margin-bottom: 0;
    padding: 2rem 0 3.5rem;
    border-radius: 0;
}

footer{
    background-color: #40474e;
    color: white;
    padding: 1rem 0 1rem;
    
    
}
footer img{
    color: white;
}
.ft-bg{
    width: 120px;
    height: 120px;
}