body {
    margin-top:20px;
    background-color: 	#FAFAFA;
}
/*profile page*/





.left-profile-card .user-profile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 20px;
}

.left-profile-card h3 {
    font-size: 18px;
    margin-bottom: 0;
    font-weight: 700;
}

.left-profile-card p {
    margin-bottom: 5px;
}

.left-profile-card .progress-bar {
    background-color: var(--main-color);
}

.personal-info {
    margin-bottom: 30px;
}

.personal-info .personal-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}



.card-body{
box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
border-radius: 15px;
}


.card-body2{
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    margin-bottom: 20px;
    background: #cfd1d4;
}
.img_1{
    margin: 0 25px;

}
.card-body2 img{
    width: 240px;
    height: 180px;
    
  
}


.personal-list li{
    padding: 15px 0 0 55px;
}

.personal-info h3{
    text-align: center;
    padding: 10px;
}

.personal-list span{
    padding: 10px;
}





.logo{
    width: 220px;
    height: 50px;
}
nav_links li{
    text-decoration: none;
    font-size: 25px;
    padding: 0 10px;
    color: black;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_links li{
   display: inline-block;
   padding: 0 20px;
}
button{
    padding: 9px 25px;
    
    border: none;
    border-radius: 50px;
    cursor: pointer;
    
}
.nav_links li a{
    font-size: 18px;
}



.line_02{
    height: 1px;
    border-top: 1px solid rgb(180, 178, 178);
    text-align: center;
}
.line_02 span{
    position: relative;
    top: -12px;
    background: #fff;
    padding: 0 20px;
}



/* 照片效果 */
.item-wrap{
    display: block;
    position: relative;
    overflow: hidden;
}

.item-wrap:after {
  z-index: 2;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  transition: .3s all ease-in-out;
}

.item-wrap img {
    transition: .3s transform ease;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.item-wrap > .work-info {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    z-index: 3;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #fff;
    opacity: 0;
    visibility: hidden;
    margin-top: 20px;
    transition: .3s all ease;
  }


  .item .item-wrap > .work-info h3 {
    font-size: 20px;
    margin-bottom: 0;
  }


  .item .item-wrap > .work-info span {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .2rem;
  }

  .item .item-wrap:hover {
    text-decoration: none;
  }

  .item .item-wrap:hover img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }


  .item .item-wrap:hover:after {
    opacity: 1;
    visibility: visible;
  }

  .item .item-wrap:hover .work-info {
    margin-top: 0px;
    opacity: 1;
    visibility: visible;
  }




































.row{
    padding: 25px 0 25px 0;
}
