body {
    margin-top:20px;
    background-color: 	#FAFAFA;
}

/* 導覽列 */
.logo{
    width: 220px;
    height: 50px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_links li{
   display: inline-block;
   padding: 0 20px;
}

.nav_links li a{
    font-size: 18px;
}
/* 導覽列 END */




/* 個人資料 */

.left-profile-card .user-profile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 20px;
}

.left-profile-card h3 {
    font-size: 18px;
    margin-bottom: 0;
    font-weight: 700;
}


.personal-info {
    margin-bottom: 40px;
}

.personal-info .personal-list {
    list-style-type: none;
    margin:0;
    padding: 0 ;
}

 .card-body{
 box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
 border-radius: 15px;
}

.personal-list li{
    padding: 15px 0 0 55px;
}



.personal-list span{
    padding: 10px;
}

/* 個人資料 END */




/* 樣板庫 */

.card-body2{
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    margin-bottom: 20px;
    background: #cfd1d4;
}


.card-body2 img{
    width: 240px;
    height: 180px;
    
  
}


.row{
    padding: 25px 0 25px 0;
}


/* 樣板庫 END*/








/* 照片特效 */
.item-wrap{
    display: block;
    position: relative;
    overflow: hidden;
}

.item-wrap:after {
  z-index: 2;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  transition: .3s all ease-in-out;
}

.item-wrap img {
    transition: .3s transform ease;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.item-wrap > .work-info {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    z-index: 3;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #fff;
    opacity: 0;
    visibility: hidden;
    margin-top: 20px;
    transition: .3s all ease;
  }


  .item .item-wrap > .work-info h3 {
    font-size: 20px;
  }



  

  .item .item-wrap:hover img {
    -webkit-transform: scale(1.05);
  }


  .item .item-wrap:hover:after {
    opacity: 1;
    visibility: visible;
  }

  .item .item-wrap:hover .work-info {
    margin-top: 0px;
    opacity: 1;
    visibility: visible;
  }


/* 照片特效 END*/





#img_1{
   height: 50px;
    width: 150px;
}
.profile{
    left: 100px;
}



























