<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
	<link rel="stylesheet" type="text/css" href="../public/stylesheets/Xu.css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../public/stylesheets/Xu.css/content.css">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet">

</head>

<body>


	<div class="container-contact100">

		<div class="wrap-contact100">
			<form class="contact100-form validate-form">
				<span class="contact100-form-title">
					為您的作品輸入標題與概述
				</span>

				<div class="wrap-input100 validate-input" data-validate="">
					<input class="input100" type="text" name="name" placeholder="標題">
					<span class="focus-input100"></span>
				</div>

				

				<div class="wrap-input100 validate-input" data-validate="Please enter your message">
					<textarea class="input100" name="message" placeholder="作品內容"></textarea>
					<span class="focus-input100"></span>
				</div>

				<div class="container-contact100-form-btn">
					
					
					<div class="hideme3"><a class="a1">
						<button class="btn1" tabindex="0" style="--buttonColor: #00AA90">確認<span></span>
							<span></span><span></span><span></span><b aria-hidden="true">送出</b>
							<b aria-hidden="true">送出</b><b aria-hidden="true">送出</b><b aria-hidden="true">送出</b>
						</button></a>
					</div>


				</div>
			</form>
		</div>
	</div>




	<script src="../public/javascripts/Xu.js/jquery-3.3.1.min.js"></script>
	<script src="../public/javascripts/Xu.js/popper.min.js"></script>
	<script src="../public/javascripts/Xu.js/bootstrap.min.js"></script>
	

	

</body>

</html>