<ul class="row list-unstyled components" id="dragitemslistcontainer">
    <li class="col-lg-6" draggable="true"
        data-insert-html='<nav class="navbar navbar-expand-md bg-dark navbar-dark"> <button class=navbar-toggler type=button data-toggle=collapse data-target=#collapsibleNavbar> <span class=navbar-toggler-icon></span> </button> <a class=navbar-brand href=#>Logo</a><div class="collapse navbar-collapse" id=collapsibleNavbar><ul class="navbar-nav mr-auto"><li class=nav-item><a class=nav-link href=#>Link 1</a><li class=nav-item><a class=nav-link href=#>Link 2</a><li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href=# id=navbardrop data-toggle=dropdown> Dropdown link </a><div class=dropdown-menu><a class=dropdown-item href=#>Link 1</a> <a class=dropdown-item href=#>Link 2</a> <a class=dropdown-item href=#>Link 3</a></div></ul><form class=form-inline action=/action_page.php><input class="form-control mr-sm-2" type=text placeholder=Search> <button class="btn btn-success" type=submit>Search</button></form></div></nav>'>
        <i class="las la-bars"></i>
        <p>navbar</p>
    </li>
    <li class="col-lg-6" draggable="true"
        data-insert-html='<div class="well login-box"> <form action=""> <legend>Login</legend> <div class="form-group"> <label for="username-email">E-mail or Username</label> <input value="" id="username-email" placeholder="E-mail or Username" type="text" class="form-control"/> </div><div class="form-group"> <label for="password">Password</label> <input id="password" value="" placeholder="Password" type="text" class="form-control"/> </div><div class="form-group text-center"> <button class="btn btn-danger btn-cancel-action">Cancel</button> <input type="submit" class="btn btn-success btn-login-submit" value="Login"/> </div></form> </div>'>
        <i class="las la-address-card"></i>
        <p>Form</p>
    </li>
    <li class="col-lg-6" draggable="true"
        data-insert-html='<button type="button" class="btn btn-info">Info</button>'>
        <i class="las la-hockey-puck"></i>
        <p>button</p>
    </li>
    <li class="col-lg-6" draggable="true"
        data-insert-html='<div class=form-check-inline><label class=form-check-label> <input type=checkbox class=form-check-input>Option 1 </label></div><div class=form-check-inline><label class=form-check-label> <input type=checkbox class=form-check-input>Option 2 </label></div><div class=form-check-inline><label class=form-check-label> <input type=checkbox class=form-check-input>Option 3 </label></div>'>
        <i class="las la-check-circle"></i>
        <p>CheckBox</p>
    </li>
    <li class="col-lg-6" draggable="true" data-insert-html='<hr/>'>
        <i class="las la-slash"></i>
        <p>hr</p>
    </li>
    <li class="col-lg-6" draggable="true"
        data-insert-html='<div class=list-group><a href=# class="list-group-item list-group-item-action">First item</a> <a href=# class="list-group-item list-group-item-action">Second item</a> <a href=# class="list-group-item list-group-item-action">Third item</a></div>'>
        <i class="las la-list"></i>
        <p>List Group</p>
    </li>
    <li class="col-lg-6" draggable="true"
        data-insert-html='<div class=container><table class="table table-hover"><thead><tr><th>Firstname<th>Lastname<th>Email<tbody><tr><td>John<td>Doe<td>john@example.com<tr><td>Mary<td>Moe<td>mary@example.com<tr><td>July<td>Dooley<td>july@example.com</table></div>'>
        <i class="las la-table"></i>
        <p>table</p>
    </li>
    <!-- <li class="col-lg-6" draggable="true"
        data-insert-html='<div id=demo class="carousel slide" data-ride=carousel><ul class=carousel-indicators><li data-target=#demo data-slide-to=0 class=active><li data-target=#demo data-slide-to=1><li data-target=#demo data-slide-to=2></ul><div class=carousel-inner><div class="carousel-item active"><img src="/public/images/Xiang se/xiang_01_2.jpg" alt="Los Angeles"></div><div class=carousel-item><img src="public/images/Xiang se/xiangse_bg.jpg" alt=Chicago></div><div class=carousel-item><img src=ny.jpg alt="New York"></div></div><a class=carousel-control-prev href=#demo data-slide=prev> <span class=carousel-control-prev-icon></span> </a> <a class=carousel-control-next href=#demo data-slide=next> <span class=carousel-control-next-icon></span> </a></div>'>
        <i class="las la-images"></i>
        <p>Carousel</p>
    </li> -->
    <li class="col-lg-6" draggable="true" data-insert-html="<h1>HEADER GOES HERE</h1>">
        <i class="las la-heading"></i>
        <p>Header</p>
    </li>
    <!-- <li class="col-lg-6" draggable="true"
        data-insert-html="">
        <i class=" fa fa-list-ul"></i>
        <p>ul</p>
    </li> -->
</ul>