<ul class="row list-unstyled components" id="dragitemslistcontainer">
    <li class="col-lg-6" draggable="true"
        data-insert-html='<div class=btn5-1><header class=btn5><div class=btn5-containerr><h1 class=btn5-logo></h1><nav><ul><li><a href=#>Home</a><li><a href=#>About</a><li><a href=#>Pricing</a><li><a href=#>Contact</a></ul></nav></div></header></div>'>
        <i class="las la-bars"></i>
        <p>navbar</p>
    </li>
    <li class="col-lg-6" draggable="true"
        data-insert-html='<div style=text-align:center><button class="btn1 buttonNavy btn1-Size1" tabindex=0>START<span></span><span></span><span></span><span></span><b aria-hidden=true>GO!</b><b aria-hidden=true>GO!</b><b aria-hidden=true>GO!</b><b aria-hidden=true>GO!</b></button></div>'>
        <i class="las la-hockey-puck"></i>
        <p>button</p>
    </li>
    <li class="col-lg-6" draggable="true"
        data-insert-html='<div class="btn3 btn3-Size1 btn3-black"><div class=line></div><div class=line></div><div class=line></div><div class=line></div><div class=line></div><div class=line></div><span>登入/註冊</span></div>'>
        <i class="las la-hockey-puck"></i>
        <p>login button</p>
    </li>
    <li class="col-lg-6" draggable="true"
        data-insert-html='<div class=vertical-align><div class=btn4><label> <input checked name=button-group type=radio value=item> <span class="btn4-1 first">1</span>  </label> <label> <input name=button-group type=radio value=other-item> <span class=btn4-1>2</span>  </label> <label> <input name=button-group type=radio value=other-item> <span class=btn4-1>3</span>  </label> <label> <input name=button-group type=radio value=third> <span class=btn4-1>4</span>  </label> <label> <input name=button-group type=radio value=third> <span class="btn4-1 last">5</span></label></div></div>'>
        <i class="las la-check-circle"></i>
        <p>checkbox</p>
    </li>
    <li class="col-lg-6" draggable="true"
        data-insert-html='<div class=btn6><form><h1>LOGIN</h1><input placeholder=Username type=text required> <input placeholder=Password type=password required> <button>Submit</button></form></div>'>
        <i class="las la-address-card"></i>
        <p>Form</p>
    </li>
    <li class="col-lg-6" draggable="true"
        data-insert-html='<table class=responstable><tr><th>Main candidate<th data-th="Candidate details"><span>First name</span><th>Surname<th>Date of birth<th>Profession<tr><td><input type=radio><td>Steve<td>WANG<td>01/05/1978<td>Tacacher<tr><td><input type=radio><td>Steffie<td>LI<td>02/07/1980<td>Chef<tr><td><input type=radio><td>Stan<td>LIN<td>09/01/1998<td>Student<tr><td><input type=radio><td>Stella<td>HUANG<td>05/05/1970<td>Lawyer</table>'>
        <i class="las la-table"></i>
        <p>table</p>
    </li>
    <li class="col-lg-6" draggable="true"
        data-insert-html='<a href="" class="btn effect01" target=_blank><span>前往結帳</span></a>'>
        <i class="las la-coins"></i>
        <p>checkout</p>
    </li>
    <li class="col-lg-6" draggable="true" data-insert-html='<hr class="hr-style2">'>
        <i class="las la-slash"></i>
        <p>hr</p>
    </li>
</ul>