<!DOCTYPE html>
<html lang="en">

<head>
  <title>功能</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" /> -->
  <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet" /> -->

  <link rel="stylesheet" href="/stylesheets/Xu.css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/Xu.css/owl.carousel.min.css">
  <link rel="stylesheet" href="/stylesheets/Xu.css/aos.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <!-- MAIN CSS -->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/Xu.css/features.css">

</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">


  <div class="site-wrap">




    <!-- 導覽列 -->
    <nav class="navbar navbar-expand-md navbar-light bg-light p-1 fixed-top shadow-sm" id="notoSans">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a class="nav-link" href="/">首頁</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/featuresPage">功能介紹</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/officalTemplat">樣板一覽</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/login/profile">會員中心</a>
          </li>

        </ul>
      </div>
      <div class="mx-auto order-0">
        <a class="navbar-brand p-0" href="#">
          <img src="/images/Logo.png" alt="" loading="lazy" width="140px">
        </a>

      </div>

      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">

        <form class="form-inline ml-auto">

          <div class='btn3'>
            <div class='line'></div>
            <div class='line'></div>
            <div class='line'></div>
            <div class='line'></div>
            <div class='line'></div>
            <div class='line'></div>
            <span>
              <a href="/users/login">登入/註冊</a>
            </span>
            <div>
        </form>
      </div>
    </nav>
    <!-- 導覽列 END-->


    <!-- 文字介紹 -->
    <div>

      <!-- 背景圖 -->


      <div class="home-inner">

      </div>


      <!-- 背景圖 END-->


      <div class="caption text-center">
        <h1 data-aos="flip-up" data-aos-easing="linear" data-aos-duration="8000">
          在此設計一個美觀亮眼的網站</h1><br>
        <h5>運用拖放式網站建置工具自調版面主題，</h5>
        <h5>
          動動手指您就能建立一個屬於自己的網頁!</h5>
      </div>


    </div>
    <!-- 文字介紹 END-->






    <!-- 圖文介紹 -->

    <div class="site-section ">
      <div class="container">
        <div class="row mb-5 align-items-center">
          <div data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500" class="col-md-7">
            <h2 class="heading-39291 
             mb-3">用手指就能操作的強大設計工具
            </h2>

          </div>
        </div>
        <div id="row1" class="row">

          <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class=" service-29193 text-center">
              <span class="img-wrap mb-5">
                <img src="/images/features_imgs/phone.png" alt="Image" class="img-fluid img-link">
              </span>
              <h3 class="mb-4">行動裝置</h3>
              <h5>利用可自調版面主題<br>建立美輪美奐的行動版網站</h5>
            </div>
          </div>
          <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="service-29193 text-center">
              <span class="img-wrap mb-5">
                <img src="/images/features_imgs/img_1.png" alt="Image" class="img-fluid img-link">
              </span>
              <h3 class="mb-4">範本</h3>
              <h5>可完全自定的網頁設計<br>網站範本</h5>
            </div>
          </div>

          <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="">
            <div class="service-29193 text-center">
              <span class="img-wrap mb-5">
                <img src="/images/features_imgs/img_2.png" alt="Image" class="img-fluid img-link">
              </span>
              <h3 class="mb-4">建置工具</h3>
              <h5>使用強大的施放式工具<br>建立完美的網站</h5>
            </div>
          </div>


          <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="">
            <div class="service-29193 text-center">
              <span class="img-wrap mb-5">
                <img src="/images/features_imgs/img_3.png" alt="Image" class="img-fluid img-link">
              </span>
              <h3 class="mb-4">多種精美主題任選</h3>
              <h5>透過多種可訂製主題來創建一個獨特的品牌</h5>
            </div>
          </div>
          <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="service-29193 text-center">
              <span class="img-wrap mb-5">
                <img src="/images/features_imgs/img_4.png" alt="Image" class="img-fluid img-link">
              </span>
              <h3 class="mb-4">內建的主題編輯器</h3>
              <h5>編輯您的LOGO，圖標，佈局，背景，顏色，字體</h5>
            </div>
          </div>
          <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="service-29193 text-center">
              <span class="img-wrap mb-5">
                <img src="/images/features_imgs/img_5.png" alt="Image" class="img-fluid img-link">
              </span>
              <h3 class="mb-4">客製化排版</h3>
              <h5>使用我們的編輯器進一步編輯網站，打造客製化的效果</h5>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- 圖文介紹 END-->



    <!-- 文字輪播 -->
    <div class="site-section section-4">
      <div class="container">

        <div class="row justify-content-center text-center">
          <div" data-aos="zoom-in" class="col-md-7">
            <div class="slide-one-item owl-carousel">
              <blockquote class="testimonial-1">
                <p>隨心所欲，用自己的方式建置理想的網站</p>

              </blockquote>

              <blockquote class="testimonial-1">
                <p>可自調版面的專業網站主題，能讓您在任何裝置上建立美輪美奐的網站</p>

              </blockquote>


            </div>
            <div class="hideme"><a class="a1"><button class="btn1" tabindex="0" style="--buttonColor: #0089A7">
                  START<span></span><span></span><span></span><span></span><b aria-hidden="true">GO!</b><b
                    aria-hidden="true">GO!</b><b aria-hidden="true">GO!</b><b aria-hidden="true">GO!</b></button></a>
            </div>
            <br>
        </div>
      </div>
    </div>
  </div>
  <!-- 文字輪播 END-->




  <!-- 頁尾 -->


  <footer style="  background-color:#f8f9fa;" class="page-footer font-small mdb-color lighten-3 pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

          <!-- Content -->
          <h5 class="fp font-weight-bold text-uppercase mb-4">關於</h5>
          <p>利用拖曳式工具，依照自己所想風格，調整文字、顏色、背景色、圖片、及簡單的排版來製作心目中的網站!</p>


        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

          <!-- Contact details -->
          <h5 class="font-weight-bold text-uppercase mb-4">聯絡</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#">
                <p>
                  <i class="fas fa-home mr-3"></i>台中市南屯區公益路二段51號</p>
              </a>
            </li>
            <li>
              <a href="#">
                <p>
                  <i class="fas fa-envelope mr-3"></i> cathylin@taichung.iii.org.tw</p>
              </a>
            </li>
            <li>
              <a href="#">
                <p>
                  <i class="fas fa-phone mr-3"></i> 04 2326 5860</p>
              </a>
            </li>
            <li>
              <a href="#">
                <p>
                  <i class="fas fa-print mr-3"></i> 04-2327-3572</p>
              </a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->

        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 text-center mx-auto my-4">



          <div class="logo">
            <img src="/images/features_imgs/Logo.png" alt="">
          </div>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://mdbootstrap.com/"> 123</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
  <!-- Footer -->
  <!-- 頁尾 END-->
  </div>

  <script src="/javascripts/Xu.js/jquery-3.3.1.min.js"></script>
  <script src="/javascripts/Xu.js/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
  <script src="/javascripts/Xu.js/owl.carousel.min.js"></script>
  <script src="/javascripts/Xu.js/aos.js"></script>
  <script src="/javascripts/Xu.js/features.js"></script>



</body>

</html>