<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
	<link rel="icon" href="images/icon.png">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/heartcss/_css/bootstrap.min.css">
    <script src="/javascripts/heartJS/_js/jquery.min.js"></script>
    <script src="/javascripts/heartJS/_js/popper.min.js"></script>
    <script src="/javascripts/heartJS/_js/bootstrap.min.js"></script>
    <script src="/javascripts/heartJS/flycan.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,600,700,900&display=swap" rel="stylesheet"> -->
    <title>Document</title>

    <link rel="stylesheet" href="/stylesheets/heartcss/style_1.css">
</head>
<title>Xiang se</title>

<body>


    <!-- 導覽頁 -->
	<%- include('navbar') %>

    <!-- 第一頁 -->
    <div class="bg1 container d-flex">

        <div class="col-md-3 cott1">
            <div class="cott1-1">
                <h3 class="hideme3">您的想法即是關鍵,<br>建立一個網站</h3><br>
                <div class="hideme3"><a class="a1"><button class="btn1" onclick="location.href='/officalTemplat'" tabindex="0"
                            style="--buttonColor: #00AA90">START<span></span><span></span><span></span><span></span><b
                                aria-hidden="true">GO!</b><b aria-hidden="true">GO!</b><b aria-hidden="true">GO!</b><b
                                aria-hidden="true">GO!</b></button></a></div>
            </div>

            <div class="bg1img2 hideme1"><img src="/images/img6.png" alt=""></div>
        </div>
        <div class="bg1img col-md-7"><img src="/images/img5.png" width="100px">
            <div class="bg1img1 hideme1"><img src="/images/img7.png" alt=""></div>
        </div>



    </div>

    <!-- 第二頁 -->
    <div class="bg2">
        <div class="container content ">
            <div class="row">

                <div class="col-12 col-md-6 cot1">

                    <h4 class="hideme">網站主題</h4><br>
                    <h2 class="hideme">每個主題皆處處展現<br>貼心周到的設計風格</h2><br><br>
                    <h5 class="hideme">各式各樣的優美主題，讓您的網站在任何裝置上<br>皆可呈現專業精美的外觀，所有主題皆立即可用<br>並支援完整自訂。
                    </h5><br>
                    <div class="hideme"><a class="a1" href="/user/profile"><button class="btn1" tabindex="0"
                                style="--buttonColor: #0089A7">Try
                                topic<span></span><span></span><span></span><span></span><b aria-hidden="true">GO!</b><b
                                    aria-hidden="true">GO!</b><b aria-hidden="true">GO!</b><b
                                    aria-hidden="true">GO!</b></button></a></div>
                    <br>

                </div>
                <div class="col-12 col-md-6 cot1 "><img src="/images/img8.jpg" class="img-fluid cot2 hideme"><img
                        src="/images/img9.jpg" class="img-fluid cot2-1 hideme"></div>

            </div>

        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-12 col-md-12 cott2 text-center">
                <img src="/images/Logo.png" width="180px" alt="">
                <h3>網站建立工具</h3><br>
                <h2>建立網站從未如此簡單</h2><br>
                <h5>您可根據無限想像創意，建立富有特色的專屬網站。提供建立獨特網站<br>所需的一切工具，無須具備任何技術專業。</h5>
            </div>
            <div class="col-12 col-md-3 cot1 ">

                <h4 class=" hideme ">拖放型建立工具</h4>
                <h5 class="hideme ">運用強大工具建立完美網站</h3><br><br>


                <h4 class="hideme ">字形顏色大小
                </h4>
                <h5 class="hideme ">客製化字形展現您的超凡品牌與個人風格</h3><br><br>




            </div>
            <div class="col-12 col-md-6 cot1 ">
                <img src="/images/img4.jpg " alt=" " width="100% ">
            </div>
            <div class="col-12 col-md-3 cot1-1 ">

                <h4 class="hideme2 ">精美主題任選</h4>
                <h5 class="hideme2 ">可透過多種可訂製的主題來創建一個獨特的品牌</h3><br><br>


                <h4 class="hideme2 ">快速視覺設計</h4>
                <h5 class="hideme2 ">透過直觀的視覺創建器，加速您的前端開發</h3><br><br>



            </div>
        </div>
    </div>

    <div class="container ">
        <div class="row ">
            <div class="col-12 col-md-6 cot1-2 "><img src="/images/img1.jpg " class="img-fluid cot2-2 hideme"></div>
            <div class="col-12 col-md-6 cot1 ">

                <h4 class="hideme ">讓您的網站脫穎而出的設計</h4><br>
                <h2 class="hideme ">從多個我們精心準備且易於客製化的模板中選擇一個喜歡的設計吧！</h2><br><br>


                <br>

            </div>


        </div>

    </div>


    <!-- <footer> -->
    <%- include('footer') %>

</body>


</html>