<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登入</title>
    <link rel="stylesheet" href="/stylesheets/Xu.css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/Xu.css/logn.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet">

</head>

<body>
    <!-- 導覽列 -->
    <%- include('navbar') %>

    <!-- 會員登入表 -->
    <form name="addfrom" action="" accept-charset="utf-8" method="POST" class="login-form">
        <h1 class="member_logn">會員登入</h1>

        <div class="txtb">
            <input type="email">
            <span data-placeholder="電子郵件"></span>
        </div>

        <div class="txtb">
            <input type="password">
            <span data-placeholder="密碼"></span>
        </div>
        <div class="logbtn2">
            <input type="submit" class="logbtn" value="確認送出">
        </div>

        <div class="bottom-text">
            <span>還不是會員嗎?</span>
            <a href="/users/login/signup">註冊</a>
        </div>
    </form>
    <!-- 會員登入表END -->


    <!-- 輸入框文字效果 -->
    <script src="/javascripts/Xu.js/jquery-3.3.1.min.js"></script>
    <script src="/javascripts/Xu.js/popper.min.js"></script>
    <script src="/javascripts/Xu.js/bootstrap.min.js"></script>
    <script src="/javascripts/Xu.js/logn.js"></script>


</body>

</html>
