<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登入</title>
    <link rel="stylesheet" href="/stylesheets/Xu.css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/Xu.css/logn.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet">

</head>

<body>
    <!-- 導覽列 -->
    <header>

        <nav class="navbar navbar-expand-md navbar-light bg-wight p-1" id="notoSans">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">首頁</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/featuresPage">功能介紹</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/officalTemplat">樣板一覽</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="">Link</a>
                    </li> -->
                </ul>
            </div>
            <div class="mx-auto order-0">
                <a class="navbar-brand p-1" href="/">
                    <img src="/images/assets/img/logo.png" alt="" loading="lazy">
                </a>

            </div>
            <!-- 
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <form class="form-inline ml-auto">
                    <button class="btn btn-outline-warning my-2 my-sm-0" type="button"
                        onclick="location.href='/login'">Log
                        in</button>
                </form>
            </div> -->
        </nav>
    </header>
    <!-- 導覽列  END -->






    <!-- 會員登入表 -->
    <form action="" class="login-form">
        <h1 class="member_logn">會員登入</h1>

        <div class="txtb">
            <input type="email">
            <span data-placeholder="電子郵件"></span>
        </div>

        <div class="txtb">
            <input type="password">
            <span data-placeholder="密碼"></span>
        </div>
        <div class="logbtn2">
            <input type="submit" class="logbtn" value="確認送出">
        </div>

        <div class="bottom-text">
            <span>還不是會員嗎?</span>
            <a href="/signup">註冊</a>
        </div>
    </form>
    <!-- 會員登入表END -->


    <!-- 輸入框文字效果 -->
    <script src="/javascripts/Xu.js/jquery-3.3.1.min.js"></script>
    <script src="/javascripts/Xu.js/popper.min.js"></script>
    <script src="/javascripts/Xu.js/bootstrap.min.js"></script>
    <script src="/javascripts/Xu.js/logn.js"></script>


</body>

</html>