<nav style="background-color: #d6d6d6;" class="navbar navbar-expand-md navbar-light p-1 fixed-top shadow-sm" id="notoSans">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="/">首頁</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/features">功能介紹</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/officalTemplat">樣板一覽</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/reveal">EE元件</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user">會員中心</a>
            </li>

        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand p-0" href="#">
            <img src="/images/Logo.png" alt="" loading="lazy" width="140px">
        </a>

    </div>

    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">

        <form class="form-inline ml-auto">

            <div class='btn3'>
                <div class='line'></div>
                <div class='line'></div>
                <div class='line'></div>
                <div class='line'></div>
                <div class='line'></div>
                <div class='line'></div>
                <%  if (locals.uName != undefined && locals.uName != "Guest") { %>
                <span>
                    <a style="color: rgba(0, 0, 0, 0.5);" href="/user/logout">登出</a>
                </span>
                <% } else { %>
                <span>
                    <a style="color: rgba(0, 0, 0, 0.5);" href="/user/login">登入/註冊</a>
                </span>
                <% } %>
                <div>
        </form>
    </div>
</nav>