<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <p id="ww"><%- pic[0].pic %></p>
    <input id="demo" type="text" value="<%- pic[0].pic %>">
    <hr>
    <canvas id="c" width="900" height="900"></canvas>

    <script>
        var canvas = document.getElementById("c");
        var ctx = canvas.getContext("2d");

        var image = new Image();
        image.onload = function () {
            ctx.drawImage(image, 0, 0);
        };
        image.src = document.getElementById('ww').innerText;

    </script>
</body>

</html>