<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title></title>

    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css"
        rel="stylesheet" />
    <!-- 導入CSS -->
    <link href="/stylesheets/css/styles.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/487a1c55c4.js" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet">
    

</head>

<body id="page-top">
    <!-- Nav-->
    <nav class="navbar navbar-expand-md navbar-light bg-light p-1 fixed-top shadow-none" id="notoSans">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="/">首頁</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/featuresPage">功能介紹</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/officalTemplat">樣板一覽</a>
                </li>

            </ul>
        </div>
        <div class="mx-auto order-0">
            <a class="navbar-brand p-0" href="#">
                <img src="/images/features_imgs/logo.png" alt="" loading="lazy" width="140px">
            </a>

        </div>

        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <form class="form-inline ml-auto">
                <div class='btn3'>
                    <div class='line'></div>
                    <div class='line'></div>
                    <div class='line'></div>
                    <div class='line'></div>
                    <div class='line'></div>
                    <div class='line'></div>
                    <span>
                        <a href="/login">登入/註冊</a>
                    </span>
                    <div>
            </form>
        </div>

    </nav>
    <!-- Masthead-->
    <header class="masthead">
        <div class="container ">
            <div class="row  align-items-center justify-content-center text-center">
                <div class="col-lg-8 align-self-end">
                    <h1 class="text-uppercase text-white font-weight-bold">讓您的網站脫穎而出的設計</h1>
                </div>
                <div class="col-lg-6 align-self-baseline">
                    <h5 class="text-white-75 font-weight-light mb-5">
                    從多個我們精心準備且易於客製化的模板中<br>選擇一個喜歡的設計吧！

                    </h5>
                    
                    <div class="hideme3"><a href="/editPage" class="a1"><button class="btn1" tabindex="0" style="--buttonColor: #00AA90">START<span></span><span></span><span></span><span></span><b aria-hidden="true">GO!</b><b aria-hidden="true">GO!</b><b aria-hidden="true">GO!</b><b aria-hidden="true">GO!</b></button></a></div>
                    
                </div>
            </div>                      

        </div>
    </header>

    <!-- templateTab -->
    <nav class="p-4">
        <h3 class="text-center text-primary font-weight-bold" id="notoSans">主題樣板</h3>
        <p class="text-center text-secondary mb-4" id="notoSans">不知道從何開始嗎?從我們精選的主題中開始建構!</p>

        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#home" role="tab"
                aria-controls="nav-home" aria-selected="true">Home</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#profile" role="tab"
                aria-controls="nav-profile" aria-selected="false">Profile</a>
            <a class="nav-item nav-link" id="nav-contact-tabF" data-toggle="tab" href="#contact" role="tab"
                aria-controls="nav-contact" aria-selected="false">Contact</a>
            <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#navAbout" role="tab"
                aria-controls="nav-about" aria-selected="false">About</a>
        </div>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div id="portfolio">
                    <div class="container-fluid p-4">
                        <div class="row no-gutters">
                            <div class="col-lg-3 col-sm-6">
                                <a class="portfolio-box" href="/images/assets/img/portfolio/fullsize/1.jpg">
                                    <img class="img-fluid" src="/images/assets/img/portfolio/thumbnails/1.jpg" alt="" />
                                    <div class="portfolio-box-caption">
                                        <div class="project-category text-white-50">Category</div>
                                        <div class="project-name">Project Name</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <a class="portfolio-box" href="/images/assets/img/portfolio/fullsize/2.jpg">
                                    <img class="img-fluid" src="/images/assets/img/portfolio/thumbnails/2.jpg" alt="" />
                                    <div class="portfolio-box-caption">
                                        <div class="project-category text-white-50">Category</div>
                                        <div class="project-name">Project Name</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <a class="portfolio-box" href="/images/assets/img/portfolio/fullsize/3.jpg">
                                    <img class="img-fluid" src="/images/assets/img/portfolio/thumbnails/3.jpg" alt="" />
                                    <div class="portfolio-box-caption">
                                        <div class="project-category text-white-50">Category</div>
                                        <div class="project-name">Project Name</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <a class="portfolio-box" href="/images/assets/img/portfolio/fullsize/4.jpg">
                                    <img class="img-fluid" src="/images/assets/img/portfolio/thumbnails/4.jpg" alt="" />
                                    <div class="portfolio-box-caption">
                                        <div class="project-category text-white-50">Category</div>
                                        <div class="project-name">Project Name</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div id="portfolio">
                    <div class="container-fluid p-4">
                        <div class="row no-gutters">
                            <div class="col-lg-4 col-sm-6">
                                <a class="portfolio-box" href="/images/assets/img/portfolio/fullsize/1.jpg">
                                    <img class="img-fluid" src="/images/assets/img/portfolio/thumbnails/1.jpg" alt="" />
                                    <div class="portfolio-box-caption">
                                        <div class="project-category text-white-50">Category</div>
                                        <div class="project-name">Project Name</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <a class="portfolio-box" href="/images/assets/img/portfolio/fullsize/2.jpg">
                                    <img class="img-fluid" src="/images/assets/img/portfolio/thumbnails/2.jpg" alt="" />
                                    <div class="portfolio-box-caption">
                                        <div class="project-category text-white-50">Category</div>
                                        <div class="project-name">Project Name</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <a class="portfolio-box" href="/images/assets/img/portfolio/fullsize/3.jpg">
                                    <img class="img-fluid" src="/images/assets/img/portfolio/thumbnails/3.jpg" alt="" />
                                    <div class="portfolio-box-caption">
                                        <div class="project-category text-white-50">Category</div>
                                        <div class="project-name">Project Name</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <a class="portfolio-box" href="/images/assets/img/portfolio/fullsize/4.jpg">
                                    <img class="img-fluid" src="/images/assets/img/portfolio/thumbnails/4.jpg" alt="" />
                                    <div class="portfolio-box-caption">
                                        <div class="project-category text-white-50">Category</div>
                                        <div class="project-name">Project Name</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <a class="portfolio-box" href="/images/assets/img/portfolio/fullsize/5.jpg">
                                    <img class="img-fluid" src="/images/assets/img/portfolio/thumbnails/5.jpg" alt="" />
                                    <div class="portfolio-box-caption">
                                        <div class="project-category text-white-50">Category</div>
                                        <div class="project-name">Project Name</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <a class="portfolio-box" href="/images/assets/img/portfolio/fullsize/6.jpg">
                                    <img class="img-fluid" src="/images/assets/img/portfolio/thumbnails/6.jpg" alt="" />
                                    <div class="portfolio-box-caption">
                                        <div class="project-category text-white-50">Category</div>
                                        <div class="project-name">Project Name</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <div id="portfolio">
                    <div class="container-fluid p-4">
                        <div class="row no-gutters">

                        </div>
                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="navAbout" role="tabpanel" aria-labelledby="contact-tab">
                <div id="portfolio">
                    <div class="container-fluid p-4">
                        <div class="row no-gutters">

                        </div>
                    </div>
                </div>

            </div>

        </div>


    </nav>

    <section class="page-section bg-light" id="about">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 text-center">
                    <h2 class="text-dark mt-0">We've got what you need!</h2>
                    <hr class="divider dark my-4" />
                    <p class="text-dark-50 mb-4">Start Bootstrap has everything you need to get your new website up and
                        running in no time! Choose one of our open source, free to download, and easy to use themes! No
                        strings attached!</p>
                    <a class="btn btn-dark btn-xl js-scroll-trigger" href="#services">choose!</a>
                </div>
            </div>
        </div>
    </section>

    <footer class="page-footer font-small mdb-color lighten-3 pt-4 bg-light">

        <!-- Footer Links -->
        <div class="container text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

                    <!-- Content -->
                    <h5 class="font-weight-bold text-uppercase mb-4">關於</h5>
                    <p>利用拖曳式工具，依照自己所想風格，調整文字、顏色、背景色、圖片、及簡單的排版來製作心目中的網站!</p>


                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none">

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

                    <!-- Contact details -->
                    <h5 class="font-weight-bold text-uppercase mb-4">聯絡</h5>

                    <ul class="list-unstyled">
                        <li>
                            <p>
                                <i class="fas fa-home mr-3"></i>台中市南屯區公益路二段51號</p>
                        </li>
                        <li>
                            <p>
                                <i class="fas fa-envelope mr-3"></i> cathylin@taichung.iii.org.tw</p>
                        </li>
                        <li>
                            <p>
                                <i class="fas fa-phone mr-3"></i> 04 2326 5860</p>
                        </li>
                        <li>
                            <p>
                                <i class="fas fa-print mr-3"></i> 04-2327-3572</p>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none">

                <hr class="clearfix w-100 d-md-none">

                <div class="col-md-2 col-lg-2 text-center mx-auto my-4">



                    <div class="logo">
                        <img src="/images/features_imgs/Logo.png" style="width: 200px;" alt="">
                    </div>
                </div>

            </div>

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 MFEEE08:
        </div>
        <!-- Copyright -->

    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script src="/javascripts/js/scripts.js"></script>
</body>

</html>