<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title></title>
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css"
        rel="stylesheet" />
    <link href="/stylesheets/css/styles.css" rel="stylesheet" />
    <link href="/stylesheets/css/build.css" rel="stylesheet" />
    <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/css/docs.min.css">
    <link rel="stylesheet" href="/stylesheets/css/docsearch.min.css">
</head>

<body>
    <!-- Nav-->
    <nav class="navbar navbar-expand-md navbar-light bg-wight py-0">
        <div class="mx-auto order-0 ">
            <a class="navbar-brand p-0 " href="#">
                <img src="../public/images/assets/img/logo.png" alt="" loading="lazy">
            </a>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <form class="form-inline ml-auto">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Save Page</button>
            </form>
        </div>

    </nav>
    <div class="container-fluid">

        <div class="row flex-xl-nowrap">
            <div class="col-md-3 col-xl-3 bd-sidebar bg-light">


                <nav class="collapse bd-links" aria-label="Main navigation">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Left</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="//codeply.com">Codeply</a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
    <footer class="bg-light py-3">
        <div class="container">
            <div class="small text-center text-muted">made © 2020 - MFEEE08-18</div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script src="../public/javascripts/js/scripts.js"></script>
    <script src="../public/javascripts/js/build.js"></script>
</body>

</html>