<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Bootstrap CSS  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- CSS -->
    <link href="/stylesheets/css/build.css" rel="stylesheet" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <!-- 字型 Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
        integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/487a1c55c4.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrapper">

        <!-- 側邊攔 -->
        <nav id="sidebar">
            <!-- <div class="sidebar-header">
                <strong>WB</strong>
            </div> -->
            <!-- 側邊內容 -->
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#home" role="tab"
                    aria-controls="nav-home" aria-selected="true">Home</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#profile" role="tab"
                    aria-controls="nav-profile" aria-selected="false">Profile</a>
                <a class="nav-item nav-link" id="nav-contact-tabF" data-toggle="tab" href="#contact" role="tab"
                    aria-controls="nav-contact" aria-selected="false">Contact</a>
            </div>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <ul class="list-unstyled components">
                        <li class="active">
                            <!-- <a class="far fa-plus-square" href="#"> new</a> -->

                            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"
                                class="fas fa-home dropdown-toggle"> Page</a>
                            <ul class="collapse list-unstyled" id="homeSubmenu">
                                <li>
                                    <a class="fas fa-file" href="#"> 巴拉巴拉巴拉巴拉巴拉巴 拉</a>
                                </li>
                                <li>
                                    <a class="fas fa-file" href="#"> pag 2</a>
                                </li>
                                <li>
                                    <a class="fas fa-file" href="#"> pag 3</a>
                                </li>
                            </ul>
                        </li>

                        <!-- <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"
                        class="fas fa-file-alt dropdown-toggle"> Pages</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#">Page 1</a>
                        </li>
                        <li>
                            <a href="#">Page 2</a>
                        </li>
                        <li>
                            <a href="#">Page 3</a>
                        </li>
                    </ul>
                 </li> -->
                    </ul>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                    <ul class="list-unstyled components">
                        <li>
                            <a class="fas fa-file-image" href="#"> clone</a>
                        </li>
                        <li>

                            <a class="fas fa-file-word" href="#"> Portfolio</a>

                        </li>

                        <li>

                            <a class="fas fa-sticky-note" href="#"> Contact</a>

                        </li>

                        <li>
                            <a class="fas fa-file-image " href="#"> </a>
                        </li>

                        <li>

                            <a class="fas fa-file-word" href="#"> Portfolio</a>

                        </li>

                        <li>

                            <a class="fas fa-sticky-note" href="#"> Contact</a>

                        </li>

                    </ul>
                </div>
            </div>
        </nav>
        <nav class="navbar navbar-expand fixed-top navbar-light bg-light p-1">
            <div class="container-fluid ">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <a class="navbar-brand p-0 " href="/officalTemplat">
                        <img src="/images/assets/img/logo.png" alt="" loading="lazy">
                    </a>
                    <!-- <button type="button" id="sidebarCollapse" class="btn btn-link">
                        <i class="fas fa-align-left"></i>
                    </button> -->
                    <!-- bootstrap自帶小畫面選單 -->
                    <!-- <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button"
                        data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button> -->
                </div>


                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="nav justify-content-center">
                        <li class="nav-item ">
                            <a class="nav-link fas fa-mobile-alt fa-lg" href="#"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fas fa-tv fa-lg" href="#"></a>
                        </li>
                    </ul>
                </div>
                <!-- <button type="button" id="sidebarCollapseRight" class="btn btn-link">
                    <i class="fas fa-align-right"></i>
                </button> -->

                <button class="btn btn-outline-success my-2 my-sm-0" data-toggle="modal" data-target="#webCode"
                    type="submit">
                    Save Page
                </button>
            </div>
        </nav>
        <div id="content">
            <!-- 導覽列 -->


            <!-- 編輯頁 -->
            <main class="container">
                <h2>Lorem Ipsum Dolor</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip
                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                    dolore eu
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip
                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                    dolore eu
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.</p>

                <div class="line"></div>

                <h2>Lorem Ipsum Dolor</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip
                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                    dolore eu
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.</p>

                <div class="line"></div>

                <h2>Lorem Ipsum Dolor</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip
                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                    dolore eu
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.</p>

                <div class="line"></div>

                <h3>Lorem Ipsum Dolor</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip
                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                    dolore eu
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.</p>

            </main>

        </div>
        <!-- 右側欄 -->
        <!-- <nav id="sidebarRight">


        </nav> -->



        <!-- 彈出視窗 -->
        <div class="modal fade" id="webCode" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalScrollableTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!-- 網頁code放置區 -->
                    <!-- <div class="modal-body" id="webCode">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip
                        ex ea commodo consequat
                    </div> -->
                    <div class="form-group" id="newCode">
                        <textarea class="form-control" rows="10"></textarea>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <!-- 複製Btn -->
                        <button type="button" class="btn btn-primary" id="copyBtn" name="newCode">Copy</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- jQuery CDN - Slim version (=without AJAX) -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <!-- Popper.JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
            crossorigin="anonymous"></script>
        <!-- Bootstrap JS -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="/javascripts/js/build.js"></script>
    </div>
</body>

</html>