<footer style="background-color:#f3f3f3;" class="page-footer font-small mdb-color lighten-3 pt-4">
    <!-- Footer Links -->
    <div class="container text-center text-md-left">
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
                <!-- Content -->
                <h5 class="font-weight-bold text-uppercase mb-4">關於</h5>
                <p>利用拖曳式工具，依照自己所想風格，調整文字、顏色、背景色、圖片、及簡單的排版來製作心目中的網站!</p>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
                <!-- Contact details -->
                <div style="right: -17px;">
                    <h5 class="font-weight-bold text-uppercase mb-4">聯絡</h5>
                </div>

                <ul class="list-unstyled">
                    <li>
                        <a href="https://chichi711.github.io/" style="color: black;"><p><i class="fas fa-home mr-3"></i>台中市南屯區公益路二段51號</p></a>
                    </li>
                    <li>
                        <a href="#" style="color: black;"><p><i class="fas fa-envelope mr-3"></i>cathylin@taichung.iii.org.tw</p></a>
                    </li>
                    <li>
                        <a href="#" style="color: black;"><p><i class="fas fa-phone mr-3"></i>04-2326-5860</p></a>
                    </li>
                    <li>
                        <a href="#" style="color: black;"><p><i class="fas fa-print mr-3"></i>04-2327-3572</p></a>
                    </li>
                </ul>

            </div>
            <hr class="clearfix w-100 d-md-none">
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-2 col-lg-2 text-center mx-auto my-4">
                <div class="logo">
                    <img src="/images/Logo.png" style="width: 200px;" alt="">
                </div>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">Copyright © 2020 EEweb</div>
</footer>