<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
	<link rel="icon" href="images/icon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>樣板預覽</title>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/Xu.css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/Xu.css/preview.css">
</head>

<body>
  <!-- 導覽列 -->
  <%- include('navbar') %>


 <!-- 內容 -->
 <div class="bg bg1">
  <div class="wrap">
    <div class="img">
      <img src="/images/preview/38.jpg" alt="">
    </div>
    <div class="txt">
      <h1>Elite Shoppy</h1>
      <h5>以精緻特色為主題，打造您的電子商務品牌永無止境。</h5>
      <div class="btnb">

        <div class="hideme3">
            <button class="btn1 "onclick="location.href='/edit'"  tabindex="0" style="--buttonColor: #00AA90">
              編輯
              <span></span><span></span><span></span><span></span><b aria-hidden="true">
                GO!</b><b aria-hidden="true">GO!</b>
              <b aria-hidden="true">GO!</b><b aria-hidden="true">GO!</b>
            </button>
        </div>


        <div class="hideme3">
            <button class="btn1" onclick="window.open('/templated/Stylish Portfolio/index.html')" tabindex="0" style="--buttonColor: #00AA90">
              預覽<span></span><span></span><span></span><span></span><b aria-hidden="true">GO!</b>
              <b aria-hidden="true">GO!</b><b aria-hidden="true">GO!</b> <b aria-hidden="true">GO!</b>
            </button>
        </div>

      </div>
    </div>
  </div>
</div>



  <script src="/javascripts/Xu.js/jquery-3.3.1.min.js"></script>
  <script src="/javascripts/Xu.js/popper.min.js"></script>
  <script src="/javascripts/Xu.js/bootstrap.min.js"></script>
  <script src="/javascripts/Xu.js/bootstrap.min.js"></script>
</body>

</html>