
/* 按鈕一 */

/* 字大小 */
.btn1-Size1 {
  --fontSize: 1;
}
.btn1-Size2 {
  --fontSize: 2;
}

.btn1-Size3 {
  --fontSize: 3;
}

.btn1-Size4 {
  --fontSize: 4;
}

.btn1-Size5 {
  --fontSize: 5;
}
/* 顏色 */

.buttonNavy {
  --buttonColor: #0F2540
}
.buttonTea {
  --buttonColor: #939650
}
.buttonGreen {
  --buttonColor: #24936E
}
.buttonBlue {
  --buttonColor: #0089A7
}
.buttonTry {
  --buttonColor: #CAAD5F
}

 .btn1 {     /*   有--的是變數 */
    --borderWidth: 5;
    --boxShadowDepth: 5;
    /* --buttonColor: #f00; */
    /* --fontSize: 2; */
    --horizontalPadding: 16;    /*長度 */
    --verticalPadding: 8;    /* 高度 */


    background: transparent;
    border: calc(var(--borderWidth) * 1px) solid var(--buttonColor);
    box-shadow: calc(var(--boxShadowDepth) * 1px) calc(var(--boxShadowDepth) * 1px) 0 #888;
    color: var(--buttonColor);
    cursor: pointer;
    font-size: calc(var(--fontSize) * 1rem);
    font-weight: bold;
    outline: transparent;
    padding: calc(var(--verticalPadding) * 1px) calc(var(--horizontalPadding) * 1px);
    position: relative;
    -webkit-transition: box-shadow 0.15s ease;
    transition: box-shadow 0.15s ease;
}

.btn1:hover {
    box-shadow: calc(var(--boxShadowDepth) / 2 * 1px) calc(var(--boxShadowDepth) / 2 * 1px) 0 #888;
}

.btn1:active {
    box-shadow: 0 0 0 #888;
}

.btn1 span {
    -webkit-clip-path: var(--clip);
    bottom: calc(var(--borderWidth) * -1px);
    clip-path: var(--clip);
    left: calc(var(--borderWidth) * -1px);
    position: absolute;
    right: calc(var(--borderWidth) * -1px);
    top: calc(var(--borderWidth) * -1px);
    z-index: 1;
}

.btn1 span:nth-of-type(1):hover,
.btn1 span:nth-of-type(2):hover,
.btn1 span:nth-of-type(3):hover,
.btn1 span:nth-of-type(4):hover {
    --clip: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    z-index: 2;
}

.btn1 span:nth-of-type(1):hover~b:nth-of-type(1),
.btn1 span:nth-of-type(2):hover~b:nth-of-type(2),
.btn1 span:nth-of-type(3):hover~b:nth-of-type(3),
.btn1 span:nth-of-type(4):hover~b:nth-of-type(4) {
    --clip: inset(0 0 0 0);
}

.btn1 span:nth-of-type(1) {
    --clip: polygon(0 0, 100% 0, 50% 50%, 50% 50%);
}

.btn1 span:nth-of-type(2) {
    --clip: polygon(100% 0, 100% 100%, 50% 50%);
}

.btn1 span:nth-of-type(3) {
    --clip: polygon(0 100%, 100% 100%, 50% 50%);
}

.btn1 span:nth-of-type(4) {
    --clip: polygon(0 0, 0 100%, 50% 50%);
}

.btn1 b {
    -webkit-clip-path: var(--clip);
    background: var(--buttonColor);
    border: calc(var(--borderWidth) * 1px) solid var(--buttonColor);
    bottom: calc(var(--borderWidth) * -1px);
    font-weight: bold;
    clip-path: var(--clip);
    color: var(--bg, #fafafa);
    left: calc(var(--borderWidth) * -1px);
    padding: calc(var(--verticalPadding) * 1px) calc(var(--horizontalPadding) * 1px);
    position: absolute;
    right: calc(var(--borderWidth) * -1px);
    top: calc(var(--borderWidth) * -1px);
    -webkit-transition: -webkit-clip-path 0.25s ease;
    transition: -webkit-clip-path 0.25s ease;
    transition: clip-path 0.25s ease;
    transition: clip-path 0.25s ease, -webkit-clip-path 0.25s ease;
}

.btn1 b:nth-of-type(1) {
    --clip: inset(0 0 100% 0);
}

.btn1 b:nth-of-type(2) {
    --clip: inset(0 0 0 100%);
}

.btn1 b:nth-of-type(3) {
    --clip: inset(100% 0 0 0);
}

.btn1 b:nth-of-type(4) {
    --clip: inset(0 100% 0 0);
}


/* 按鈕2 */
.btn2-Size1{
  font-size: 15px;
  line-height: 45px;
  max-width: 110px;
}
.btn2-Size2{
  font-size: 24px;
  line-height: 70px;
  max-width: 200px;
}
.btn2-Size3{
 font-size: 35px;
 line-height: 90px;
  max-width: 250px;

}

.btn2 {
    letter-spacing: 0.1em;
    cursor: pointer;
    /* font-size: 15px; */
    font-weight: 550;
    /* line-height: 60px;
    max-width: 200px; */
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
  }
  .btn2:hover {
    text-decoration: none;
  }

  /*btn_background 按鈕2 顏色紅*/


  .effect04 {
    --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
    display: var(--uismLinkDisplay);
    color:#000;
    outline: solid  2px #000;
    position: relative;
    transition-duration: 0.4s;
    overflow: hidden;
  }

  .effect04::before,
  .effect04 span{
      margin: 0 auto;
      transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
      transition-duration: 0.4s;
  }

  /* 滑過變的顏色*/
  .effect04:hover{

    background-color: #E83015;
    outline: solid  3px #E83015;
  }

  /* HOVER文字1*/
  .effect04:hover span{
    -webkit-transform: translateY(-400%) scale(-0.1,20);
            transform: translateY(-400%) scale(-0.1,20);
  }

  /*文字2*/
  .effect04::before{
    content: attr(data-sm-link-text);
      color: #FFF;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transform: translateY(500%) scale(-0.1,20);
            transform: translateY(500%) scale(-0.1,20);
  }

  /* HOVER文字2*/
  .effect04:hover::before{
    letter-spacing: 0.05em;
    -webkit-transform: translateY(0) scale(1,1);
            transform: translateY(0) scale(1,1);
  }

/*btn_background 按鈕2 顏色黑*/

.effect05 {
  --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
  display: var(--uismLinkDisplay);
  color:#000;
  outline: solid  2px #000;
  position: relative;
  transition-duration: 0.4s;
  overflow: hidden;
}

.effect05::before,
.effect05 span{
    margin: 0 auto;
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    transition-duration: 0.4s;
}

/* 滑過變的顏色*/
.effect05:hover{

  background-color: black;
}

/* HOVER文字1*/
.effect05:hover span{
  -webkit-transform: translateY(-400%) scale(-0.1,20);
          transform: translateY(-400%) scale(-0.1,20);
}

/*文字2*/
.effect05::before{
  content: attr(data-sm-link-text);
    color: #FFF;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: translateY(500%) scale(-0.1,20);
          transform: translateY(500%) scale(-0.1,20);
}

/* HOVER文字2*/
.effect05:hover::before{
  letter-spacing: 0.05em;
  -webkit-transform: translateY(0) scale(1,1);
          transform: translateY(0) scale(1,1);
}
  /*btn_background 按鈕2 顏色灰*/

  .effect06 {
    --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
    display: var(--uismLinkDisplay);
    color:#000;
    outline: solid  2px #000;
    position: relative;
    transition-duration: 0.4s;
    overflow: hidden;
  }

  .effect06::before,
  .effect06 span{
      margin: 0 auto;
      transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
      transition-duration: 0.4s;
  }

  /* 滑過變的顏色*/
  .effect06:hover{

    background-color:#B4A582;
    outline: solid  2px #B4A582;
  }

  /* HOVER文字1*/
  .effect06:hover span{
    -webkit-transform: translateY(-400%) scale(-0.1,20);
            transform: translateY(-400%) scale(-0.1,20);
  }

  /*文字2*/
  .effect06::before{
    content: attr(data-sm-link-text);
      color: #FFF;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transform: translateY(500%) scale(-0.1,20);
            transform: translateY(500%) scale(-0.1,20);
  }

  /* HOVER文字2*/
  .effect06:hover::before{
    letter-spacing: 0.05em;
    -webkit-transform: translateY(0) scale(1,1);
            transform: translateY(0) scale(1,1);
  }




  /* 會員按鈕 */

  .btn3 {
    width: 200px;
    height: 50px;
    position: absolute;
    border: solid rgba(255, 255, 255, 0.3) 1px;
    background: transparent;
    cursor: pointer;
    transition: all 1s;
  }

.btn3-Size1 {
  font-size: 14px;
}

.btn3-Size2 {
  font-size: 16px;
}

.btn3-Size3 {
  font-size: 18px;
}

.btn3-black {
 color: #000;
}

.btn3-gray {
  color: #8E8E8E;

 }

.btn3-blue {
  color: rgb(72, 93, 133);
 }


  .btn3 span {
    position: absolute;
    top: 15px;
    left: 60px;
    /* color: red;   控制字的顏色 */
    opacity: 0.7;
  }

   .btn3 .line {
    background: black;   /* 控制框的顏色 */
    position: absolute;
    transition: none;
    transform: scale(0);
    opacity: 1;
  }

  .btn3 .line:nth-child(1) {
    transform-origin: 100% 100%;
    height: 3px;
    width: 20%;
    bottom: 0;
  }

  .btn3 .line:nth-child(4) {
    transform-origin: 0 100%;
    height: 3px;
    width: 20%;
    top: -1px;
    right: 0;
  }

  .btn3 .line:nth-child(2) {
    transform-origin: 100% 100%;
    height: 100%;
    width: 3px;
    bottom: 0;
    left: -1px;
  }

  .btn3 .line:nth-child(5) {
    transform-origin: 100% 0;
    height: 100%;
    width: 3px;
    bottom: 0;
    right: -1px;
  }

  .btn3 .line:nth-child(3) {
    transform-origin: 0 100%;
    height: 3px;
    width: 100%;
    top: -1px;
    left: -1px;
  }

  .btn3 .line:nth-child(6) {
    transform-origin: 100% 0;
    height: 3px;
    width: 100%;
    bottom: 0;
    right: -1px;
  }

  .btn3:hover > .line {
    transform: scale(1);
    opacity: 0;
    transition: all 1s;
  }

  .btn3:hover > .line:nth-child(2), .btn3:hover > .line:nth-child(5) {
    transition-delay: 0.5s;
  }

  .btn3:hover > .line:nth-child(3), .btn3:hover > .line:nth-child(6) {
    transition-delay: 0.9s;
  }

  .btn3:hover {
    background: rgba(255, 255, 255, 0.03);
  }


  /* 黑白按鈕  */

  .btn {
    font-size: 14px;
    font-weight: 400;
    position: relative;
    text-decoration: none;
    width: 100%;
}

.btn:hover {
    text-decoration: none;
}
/* 失敗 */
.btn1-1 {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

.btn1-1:hover {
  text-decoration: none;
}
/*btn_background*/

.effect01 {
  color: #FFF;
  border: 4px solid #000;
  box-shadow: 0px 0px 0px 1px #000 inset;
  background-color: #000;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.effect01:hover {
  border: 4px solid #666;
  background-color: #FFF;
  box-shadow: 0px 0px 0px 4px #EEE inset;
}
/*btn_text*/

.effect01 span {
  transition: all 0.2s ease-out;
  z-index: 2;
}

.effect01:hover span {
  letter-spacing: 0.13em;
  color: #333;
}
/*highlight*/

.effect01:after {
  background: #FFF;
  border: 0px solid #000;
  content: "";
  height: 155px;
  left: -75px;
  opacity: .8;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  width: 50px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  /*easeOutCirc*/
  z-index: 1;
}

.effect01:hover:after {
  background: #FFF;
  border: 20px solid #000;
  opacity: 0;
  left: 120%;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}

 /*  虛線 */

hr.hr-style1 {
	border-top: 1px dashed #8c8b8b;
}

hr.hr-style2 {
	background-color: #fff;
	border-top: 2px dashed #8c8b8b;
}


hr.hr-style3 {
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}


@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,);
* {
  box-sizing: border-box;
}

/* 導覽頁 */

/* * {
  box-sizing: border-box;
} */
/* body {

  display: table;
  height: 100%;
  width: 100%;
} */

.vertical-align {
  display: table-cell;
  vertical-align: middle;
  /* height: 100vh; */
  font-family:  Condensed, Helvetica , sans-serif;
}

.button-link {
  text-decoration: none;
}

.btn4 {
  background-color: #ff9035;
  background-image: linear-gradient(100deg, #ff5a64 0%, #faa04b 30%, #d2dc69 70%, #0ef49b 100%);
  z-index: 0;
  height: 80px;
  float: none;
  margin: 0 auto;
  width: 900px;
  max-width: 70%;
  border-radius: 40px;
  display: block;
  box-shadow: 0 2px 4px -1px rgba(25, 25, 25, 0.2);
}
.btn4 input {
  display: none;
}
.btn4 label {
  display: table;
  float: left;
  padding: 0;
  width: 20%;
  height: 100%;
  margin: 0;
  text-align: center;
  border-left: 1px solid rgba(0, 0, 0, 0.05);
}
.btn4 label:first-child {
  border-left: none;
  border-radius: 40px 0 0 40px;
}
.btn4 label:last-child {
  border-radius: 0 40px 40px 0;
}
.btn4 .btn4-1 {
  font-size: 19px;
  cursor: pointer;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  font-weight: 300;
  color: #FFF;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
  box-shadow: inset 0 30px 20px -20px rgba(255, 255, 255, 0.15);
  -webkit-transition: color 250ms cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 250ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: color 250ms cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 250ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.btn4 .btn4-1:hover {
  box-shadow: inset 0 30px 30px -20px rgba(50, 50, 50, 0.02);
  -webkit-transition: all 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.btn4 .btn4-1:after {
  content: '\2714';
  margin-left: -10px;
  display: inline-block;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: margin 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045) 100ms, -webkit-transform 250ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: margin 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045) 100ms, -webkit-transform 250ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: margin 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045) 100ms, transform 250ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: margin 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045) 100ms, transform 250ms cubic-bezier(0.895, 0.03, 0.685, 0.22), -webkit-transform 250ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.btn4 .first {
  border-radius: 40px 0 0 40px;
}
.btn4 .last {
  border-radius: 0 40px 40px 0;
}
.btn4 input:checked + .btn4-1 {
  color: #5f6982;
  text-shadow: none;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(65%, rgba(25, 25, 25, 0)), to(rgba(25, 25, 25, 0.08)));
  background-image: linear-gradient(to top, rgba(25, 25, 25, 0) 65%, rgba(25, 25, 25, 0.08));
  box-shadow: inset 0 10px 50px rgba(25, 25, 25, 0.08);
  -webkit-transition: color 500ms cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 150ms;
  transition: color 500ms cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 150ms;
}
.btn4 input:checked + .btn4-1:after {
  margin-left: 12px;
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 250ms, margin 500ms;
  -webkit-transition: margin 500ms, -webkit-transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 250ms;
  transition: margin 500ms, -webkit-transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 250ms;
  transition: transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 250ms, margin 500ms;
  transition: transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 250ms, margin 500ms, -webkit-transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 250ms;
}


/* 導覽頁 */

@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');


.btn5-container {
	width: 100%;
	margin: 0 auto;
}

.btn5 {
  background: #55d6aa;
}

.btn5::after {
  content: '';
  display: table;
  clear: both;
}

.btn5-logo {
  float: left;
  padding: 10px 0;
}

.btn5 nav {
  float: right;
}

.btn5 nav ul {
  margin: 0;
  padding-right: 25px;
  padding-bottom: 15px;
  list-style: none;
}

.btn5 nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

.btn5 nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

.btn5 nav a:hover {
  color: #000;
}

.btn5 nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

.btn5 nav a:hover::before {
  width: 100%;
}

@media (max-width:450px){
  .btn5-1{
    width: 901px;
  }
}


/* 會員登入 */

.btn6 h1, input::-webkit-input-placeholder, button {
  font-family: 'roboto', sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn6 h1 {
  height: 100px;
  width: 100%;
  font-size: 18px;
  background: #18aa8d;
  color: white;
  line-height: 150%;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
}

.btn6 form {
  box-sizing: border-box;
  width: 260px;
  margin: 100px auto 0;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 40px;
  border-radius: 3px;
}
.btn6 form  h1 {
  box-sizing: border-box;
  padding: 20px;
}

.btn6 input {
  margin: 40px 25px;
  width: 200px;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #1abc9c;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(96%, rgba(255, 255, 255, 0)), color-stop(4%, #1abc9c));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
  background-position: -200px 0;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  color: #0e6252;
}
.btn6 input:focus, input:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}
.btn6 input:focus::-webkit-input-placeholder, input:valid::-webkit-input-placeholder {
  color: #1abc9c;
  font-size: 11px;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  visibility: visible !important;
}

.btn6 button {
  border: none;
  background: #1abc9c;
  cursor: pointer;
  border-radius: 3px;
  padding: 6px;
  width: 200px;
  color: white;
  margin-left: 25px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}
.btn6 button:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
}
.responstable {
  margin: 1em 0;
  width: 100%;
  overflow: hidden;
  background: #FFF;
  color: #024457;
  border-radius: 10px;
  border: 1px solid #167F92;


}
.responstable tr {
  border: 1px solid #D9E4E6;
}
.responstable tr:nth-child(odd) {
  background-color: #EAF3F3;
}
.responstable th {
  display: none;
  border: 1px solid #FFF;
  background-color: #167F92;
  color: #FFF;
  padding: 1em;
}
.responstable th:first-child {
  display: table-cell;
  text-align: center;
}
.responstable th:nth-child(2) {
  display: table-cell;
}
.responstable th:nth-child(2) span {
  display: none;
}
.responstable th:nth-child(2):after {
  content: attr(data-th);
}
@media (min-width: 480px) {
  .responstable th:nth-child(2) span {
    display: block;
  }
  .responstable th:nth-child(2):after {
    display: none;
  }
}
.responstable td {
  display: block;
  word-wrap: break-word;
  max-width: 7em;
}
.responstable td:first-child {
  display: table-cell;
  text-align: center;
  border-right: 1px solid #D9E4E6;
}
@media (min-width: 480px) {
  .responstable td {
    border: 1px solid #D9E4E6;
  }
}
.responstable th, .responstable td {
  text-align: left;
  margin: .5em 1em;
}
@media (min-width: 480px) {
  .responstable th, .responstable td {
    display: table-cell;
    padding: 1em;
  }
}