#highlight-box {
    position: absolute;
    border: 1px solid #4285f4;
    width: 0px;
    height: 0px;
    top: 0px;
    left: 0px;
    display: none;
}
#highlight-name {
    background: #4285f4;
    font-size: 12px;
    color: #fff;
    position: relative;
    top: -22px;
    left: -1px;
    width: auto;
    padding: 2px 5px;
    display: inline-block;
    border-radius: 3px 3px 0px 0px;
}
#section-actions a#add-section-btn {
    pointer-events: auto;
    color: #fff;
    font-size: 16px;
    padding-right: 2px;
    padding: 2px 5px;
}
#section-actions a#add-section-btn:hover {
    text-decoration: none;
    background: #1266f1;
}
#section-actions {
    bottom: 0px;
    position: absolute;
    border-radius: 3px 3px 0px 0px;
    bottom: -10px;
    left: 50%;
    left: calc(50% - 12px);
}
#section-actions.outside {
    bottom: -25px;
}
#section-actions a#add-section-btn {
    position: relative;
    bottom: 0px;
    background: #4285f4;
    color: #fff;
    font-size: 18x;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    padding: 4px 5px;
    cursor: pointer;
}

