<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/Xu.css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/Xu.css/reveal.css">
    <link rel="stylesheet" href="/stylesheets/heartcss/button.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet">

</head>

<body>
    <%- include('navbar') %>

    <div class="container" ;>
        <div class="row">
            <div class="col-md-2 mb-3">
                <ul class="nav nav-pills flex-column" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="btn-tab" data-toggle="tab" href="#btn" role="tab"
                            aria-controls="btn" aria-selected="false">按鈕</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="fm-tab" data-toggle="tab" href="#fm" role="tab" aria-controls="fm"
                            aria-selected="false">表格</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-tab" data-toggle="tab" href="#nav" role="tab" aria-controls="nav"
                            aria-selected="false">導覽列</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="sgn-tab" data-toggle="tab" href="#sgn" role="tab" aria-controls="sgn"
                            aria-selected="false">表單</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="que-tab" data-toggle="tab" href="#que" role="tab" aria-controls="que"
                            aria-selected="false">問卷</a>
                    </li>

                </ul>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-10">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="btn" role="tabpanel" aria-labelledby="btn-tab">

                        <!-- START按鈕 -->

                        <div class="btn">
                            <div class="btn_2">
                                <div class="btn_3" style="text-align: center;"><button
                                        class="btn1 buttonNavy btn1-Size1"
                                        tabindex="0">START1<span></span><span></span><span></span><span></span><b
                                            aria-hidden="true">GO!</b><b aria-hidden="true">GO!</b><b
                                            aria-hidden="true">GO!</b><b aria-hidden="true">GO!</b></button></div>
                                <div class="btn_3 style=" text-align: center;><button class="btn1 buttonTea btn1-Size2"
                                        tabindex="0">START2<span></span><span></span><span></span><span></span><b
                                            aria-hidden="true">GO!</b><b aria-hidden="true">GO!</b><b
                                            aria-hidden="true">GO!</b><b aria-hidden="true">GO!</b></button></div>
                                <div class="btn_3 style=" text-align: center;><button
                                        class="btn1 buttonGreen btn1-Size3"
                                        tabindex="0">START3<span></span><span></span><span></span><span></span><b
                                            aria-hidden="true">GO!</b><b aria-hidden="true">GO!</b><b
                                            aria-hidden="true">GO!</b><b aria-hidden="true">GO!</b></button></div>
                                <div class="btn_3 style=" text-align: center;><button class="btn1 buttonBlue btn1-Size4"
                                        tabindex="0">START4<span></span><span></span><span></span><span></span><b
                                            aria-hidden="true">GO!</b><b aria-hidden="true">GO!</b><b
                                            aria-hidden="true">GO!</b><b aria-hidden="true">GO!</b></button></div>
                            </div>


                            <pre>
        <span>START1</span>
            <span style="color: #007700">&lt;button</span> <span style="color: #0000CC">class=</span><span style="background-color: #fff0f0">&quot;btn1 buttonNavy btn1-Size1&quot;</span> <span style="color: #0000CC">tabindex=</span><span style="background-color: #fff0f0">&quot;0&quot;</span> <span style="color: #007700">&gt;</span>START1<span style="color: #007700">&lt;span&gt;&lt;/span&gt;&lt;span&gt;&lt;/span&gt;&lt;span&gt;&lt;/span&gt;&lt;span&gt;&lt;/span&gt;
                &lt;b</span> <span style="color: #0000CC">aria-hidden=</span><span style="background-color: #fff0f0">&quot;true&quot;</span><span style="color: #007700">&gt;</span>GO!<span style="color: #007700">&lt;/b&gt;&lt;b</span> <span style="color: #0000CC">aria-hidden=</span><span style="background-color: #fff0f0">&quot;true&quot;</span><span style="color: #007700">&gt;</span>GO!<span style="color: #007700">&lt;/b&gt;
                &lt;b</span> <span style="color: #0000CC">aria-hidden=</span><span style="background-color: #fff0f0">&quot;true&quot;</span><span style="color: #007700">&gt;</span>GO!<span style="color: #007700">&lt;/b&gt;&lt;b</span> <span style="color: #0000CC">aria-hidden=</span><span style="background-color: #fff0f0">&quot;true&quot;</span><span style="color: #007700">&gt;</span>GO!<span style="color: #007700">&lt;/b&gt; &lt;/button&gt;</span>


            <span>START2</span>  <span style="color: #0000CC">class=</span><span style="background-color: #fff0f0">&quot;btn1 buttonTea btn1-Size2&quot;</span>
              <span>START3</span>  <span style="color: #0000CC">class=</span><span style="background-color: #fff0f0">&quot;btn1 buttonGreen btn1-Size3&quot;</span>
             <span>START4</span>  <span style="color: #0000CC">class=</span><span style="background-color: #fff0f0">&quot;btn1 buttonBlue btn1-Size4&quot;</span>

        </pre>


                        </div>


                        
                        <!-- START按鈕(黑白) -->
                        <div class="btn" style="margin: 21px 0;">
                            <div>
                                <div class="btn_2">
                                    <div class="btn_4 style=" text-align: center;><a href=""
                                            class="btn2 effect04 btn2-Size1" data-sm-link-text="Login"
                                            target="_blank"><span>START1</span></a>
                                    </div>
                                    <div class="btn_4 style=" text-align: center;><a href=""
                                            class="btn2 effect05 btn2-Size2" data-sm-link-text="Login"
                                            target="_blank"><span>START2</span></a>
                                    </div>
                                    <div class="btn_4 style=" text-align: center;><a href=""
                                            class="btn2 effect06 btn2-Size3" data-sm-link-text="Login"
                                            target="_blank"><span>START3</span></a>
                                    </div>
                                </div>

                                <div class="txt">
                                    <pre>
    <span style="color: #062873; font-weight: bold">&lt;a</span> <span style="color: #4070a0">href=&quot;&quot;</span> <span style="color: #4070a0">class=&quot;btn2 effect04 btn2-Size1&quot;</span> <span style="color: #4070a0">data-sm-link-text=&quot;Login&quot;</span> <span style="color: #4070a0">target=&quot;_blank&quot;</span><span style="color: #062873; font-weight: bold">&gt;&lt;span&gt;</span>START1<span style="color: #062873; font-weight: bold">&lt;/span&gt;&lt;/a&gt;</span>
    <span style="color: #062873; font-weight: bold">&lt;a</span> <span style="color: #4070a0">href=&quot;&quot;</span> <span style="color: #4070a0">class=&quot;btn2 effect05 btn2-Size2&quot;</span> <span style="color: #4070a0">data-sm-link-text=&quot;Login&quot;</span> <span style="color: #4070a0">target=&quot;_blank&quot;</span><span style="color: #062873; font-weight: bold">&gt;&lt;span&gt;</span>START2<span style="color: #062873; font-weight: bold">&lt;/span&gt;&lt;/a&gt;</span>
    <span style="color: #062873; font-weight: bold">&lt;a</span> <span style="color: #4070a0">href=&quot;&quot;</span> <span style="color: #4070a0">class=&quot;btn2 effect06 btn2-Size3&quot;</span> <span style="color: #4070a0">data-sm-link-text=&quot;Login&quot;</span> <span style="color: #4070a0">target=&quot;_blank&quot;</span><span style="color: #062873; font-weight: bold">&gt;&lt;span&gt;</span>START3<span style="color: #062873; font-weight: bold">&lt;/span&gt;&lt;/a&gt;</span><br>
</pre>

                                </div>
                            </div>
                        </div>



                        <div class="btn" style="margin: 21px 0;">
                            <div class="btn_5">
                                &emsp;&emsp;<a href="" class="btn effect01" target="_blank"><span>前往結帳</span></a>
                            </div>

                            <div class="txt">
                                <pre>
            <span style="color: #062873; font-weight: bold">&lt;a</span> <span style="color: #4070a0">href=&quot;&quot;</span> <span style="color: #4070a0">class=&quot;btn effect01&quot;</span> <span style="color: #4070a0">target=&quot;_blank&quot;</span><span style="color: #062873; font-weight: bold">&gt;&lt;span&gt;</span>前往結帳<span style="color: #062873; font-weight: bold">&lt;/span&gt;&lt;/a&gt;&lt;br&gt;&lt;br&gt;&lt;br&gt;</span>

     </pre>
                            </div>
                        </div>
                    </div>





                    <div class="tab-pane fade" id="fm" role="tabpanel" aria-labelledby="fm-tab">
                        <div class="btn">
                            <div class="btn_2">
                                <table class="responstable">
                                    <tr>
                                        <th>Main candidate</th>
                                        <th data-th="Candidate details"><span>First name</span></th>
                                        <th>Surname</th>
                                        <th>Date of birth</th>
                                        <th>Profession</th>
                                    </tr>

                                    <tr>
                                        <td><input type="radio" /></td>
                                        <td>Steve</td>
                                        <td>WANG</td>
                                        <td>01/05/1978</td>
                                        <td>Tacacher</td>
                                    </tr>

                                    <tr>
                                        <td><input type="radio" /></td>
                                        <td>Steffie</td>
                                        <td>LI</td>
                                        <td>02/07/1980</td>
                                        <td>Chef</td>
                                    </tr>

                                    <tr>
                                        <td><input type="radio" /></td>
                                        <td>Stan</td>
                                        <td>LIN</td>
                                        <td>09/01/1998</td>
                                        <td>Student</td>
                                    </tr>

                                    <tr>
                                        <td><input type="radio" /></td>
                                        <td>Stella</td>
                                        <td>HUANG</td>
                                        <td>05/05/1970</td>
                                        <td>Lawyer</td>
                                    </tr>
                                </table>
                            </div>

                            <div class="txt">

                                <pre>
    <span style="color: #062873; font-weight: bold">&lt;tr&gt;</span>
    <span style="color: #062873; font-weight: bold">&lt;th&gt;</span>Main candidate<span
        style="color: #062873; font-weight: bold">&lt;/th&gt;</span>
    <span style="color: #062873; font-weight: bold">&lt;th</span> <span style="color: #4070a0">data-th=&quot;Candidate
        details&quot;</span><span style="color: #062873; font-weight: bold">&gt;&lt;span&gt;</span>First name<span
        style="color: #062873; font-weight: bold">&lt;/span&gt;&lt;/th&gt;</span>
    <span style="color: #062873; font-weight: bold">&lt;th&gt;</span>Surname<span
        style="color: #062873; font-weight: bold">&lt;/th&gt;</span>
    <span style="color: #062873; font-weight: bold">&lt;th&gt;</span>Date of birth<span
        style="color: #062873; font-weight: bold">&lt;/th&gt;</span>
    <span style="color: #062873; font-weight: bold">&lt;th&gt;</span>Profession<span
        style="color: #062873; font-weight: bold">&lt;/th&gt;</span>
    <span style="color: #062873; font-weight: bold">&lt;/tr&gt;</span>

    <span style="color: #062873; font-weight: bold">&lt;tr&gt;</span>
    <span style="color: #062873; font-weight: bold">&lt;td&gt;&lt;input</span> <span
        style="color: #4070a0">type=&quot;radio&quot;</span> <span
        style="color: #062873; font-weight: bold">/&gt;&lt;/td&gt;</span>
    <span style="color: #062873; font-weight: bold">&lt;td&gt;</span>Steve<span
        style="color: #062873; font-weight: bold">&lt;/td&gt;</span>
    <span style="color: #062873; font-weight: bold">&lt;td&gt;</span>WANG<span
        style="color: #062873; font-weight: bold">&lt;/td&gt;</span>
    <span style="color: #062873; font-weight: bold">&lt;td&gt;</span>01/05/1978<span
        style="color: #062873; font-weight: bold">&lt;/td&gt;</span>
    <span style="color: #062873; font-weight: bold">&lt;td&gt;</span>Tacacher<span
        style="color: #062873; font-weight: bold">&lt;/td&gt;</span>
    <span style="color: #062873; font-weight: bold">&lt;/tr&gt;</span>

    <span style="color: #062873; font-weight: bold">&lt;tr&gt;</span>
    <span style="color: #062873; font-weight: bold">&lt;td&gt;&lt;input</span> <span
        style="color: #4070a0">type=&quot;radio&quot;</span> <span
        style="color: #062873; font-weight: bold">/&gt;&lt;/td&gt;</span>
    <span style="color: #062873; font-weight: bold">&lt;td&gt;</span>Steffie<span
        style="color: #062873; font-weight: bold">&lt;/td&gt;</span>
    <span style="color: #062873; font-weight: bold">&lt;td&gt;</span>LI<span
        style="color: #062873; font-weight: bold">&lt;/td&gt;</span>
    <span style="color: #062873; font-weight: bold">&lt;td&gt;</span>02/07/1980<span
        style="color: #062873; font-weight: bold">&lt;/td&gt;</span>
    <span style="color: #062873; font-weight: bold">&lt;td&gt;</span>Chef<span
        style="color: #062873; font-weight: bold">&lt;/td&gt;</span>
    <span style="color: #062873; font-weight: bold">&lt;/tr&gt;</span>

    <span style="color: #062873; font-weight: bold">&lt;tr&gt;</span>
    <span style="color: #062873; font-weight: bold">&lt;td&gt;&lt;input</span> <span
        style="color: #4070a0">type=&quot;radio&quot;</span> <span
        style="color: #062873; font-weight: bold">/&gt;&lt;/td&gt;</span>
    <span style="color: #062873; font-weight: bold">&lt;td&gt;</span>Stan<span
        style="color: #062873; font-weight: bold">&lt;/td&gt;</span>
    <span style="color: #062873; font-weight: bold">&lt;td&gt;</span>LIN<span
        style="color: #062873; font-weight: bold">&lt;/td&gt;</span>
    <span style="color: #062873; font-weight: bold">&lt;td&gt;</span>09/01/1998<span
        style="color: #062873; font-weight: bold">&lt;/td&gt;</span>
    <span style="color: #062873; font-weight: bold">&lt;td&gt;</span>Student<span
        style="color: #062873; font-weight: bold">&lt;/td&gt;</span>
    <span style="color: #062873; font-weight: bold">&lt;/tr&gt;</span>

    <span style="color: #062873; font-weight: bold">&lt;tr&gt;</span>
    <span style="color: #062873; font-weight: bold">&lt;td&gt;&lt;input</span> <span
        style="color: #4070a0">type=&quot;radio&quot;</span> <span
        style="color: #062873; font-weight: bold">/&gt;&lt;/td&gt;</span>
    <span style="color: #062873; font-weight: bold">&lt;td&gt;</span>Stella<span
        style="color: #062873; font-weight: bold">&lt;/td&gt;</span>
    <span style="color: #062873; font-weight: bold">&lt;td&gt;</span>HUANG<span
        style="color: #062873; font-weight: bold">&lt;/td&gt;</span>
    <span style="color: #062873; font-weight: bold">&lt;td&gt;</span>05/05/1970<span
        style="color: #062873; font-weight: bold">&lt;/td&gt;</span>
    <span style="color: #062873; font-weight: bold">&lt;td&gt;</span>Lawyer<span
        style="color: #062873; font-weight: bold">&lt;/td&gt;</span>
    <span style="color: #062873; font-weight: bold">&lt;/tr&gt;</span>
     <span style="color: #062873; font-weight: bold">&lt;/table&gt;</span>
    </pre>

                            </div>
                        </div>
                    </div>


                    <div class="tab-pane fade" id="nav" role="tabpanel" aria-labelledby="nav-tab">
                        <div class="btn">
                            <header class="btn5">
                                <div class="btn5-containerr">
                                    <h1 class="btn5-logo"></h1>
                                    <nav>
                                        <ul>
                                            <li><a href="#">Home</a></li>
                                            <li><a href="#">About</a></li>
                                            <li><a href="#">Pricing</a></li>
                                            <li><a href="#">Contact</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </header>





                            <div class="txt">
                                <pre>
    <span style="color: #062873; font-weight: bold">&lt;div</span> <span style="color: #4070a0">class=&quot;btn5-1&quot;</span><span style="color: #062873; font-weight: bold">&gt;</span>
        <span style="color: #062873; font-weight: bold">&lt;header</span> <span style="color: #4070a0">class=&quot;btn5&quot;</span><span style="color: #062873; font-weight: bold">&gt;</span>
                    <span style="color: #062873; font-weight: bold">&lt;div</span> <span style="color: #4070a0">class=&quot;btn5-containerr&quot;</span><span style="color: #062873; font-weight: bold">&gt;</span>
                                <span style="color: #062873; font-weight: bold">&lt;h1</span> <span style="color: #4070a0">class=&quot;btn5-logo&quot;</span><span style="color: #062873; font-weight: bold">&gt;&lt;/h1&gt;</span>

                <span style="color: #062873; font-weight: bold">&lt;nav&gt;</span>
                        <span style="color: #062873; font-weight: bold">&lt;ul&gt;</span>
                                                <span style="color: #062873; font-weight: bold">&lt;li&gt;&lt;a</span> <span style="color: #4070a0">href=&quot;#&quot;</span><span style="color: #062873; font-weight: bold">&gt;</span>Home<span style="color: #062873; font-weight: bold">&lt;/a&gt;&lt;/li&gt;</span>
                                                 <span style="color: #062873; font-weight: bold">&lt;li&gt;&lt;a</span> <span style="color: #4070a0">href=&quot;#&quot;</span><span style="color: #062873; font-weight: bold">&gt;</span>About<span style="color: #062873; font-weight: bold">&lt;/a&gt;&lt;/li&gt;</span>
                                                <span style="color: #062873; font-weight: bold">&lt;li&gt;&lt;a</span> <span style="color: #4070a0">href=&quot;#&quot;</span><span style="color: #062873; font-weight: bold">&gt;</span>Pricing<span style="color: #062873; font-weight: bold">&lt;/a&gt;&lt;/li&gt;</span>
                                                <span style="color: #062873; font-weight: bold">&lt;li&gt;&lt;a</span> <span style="color: #4070a0">href=&quot;#&quot;</span><span style="color: #062873; font-weight: bold">&gt;</span>Contact<span style="color: #062873; font-weight: bold">&lt;/a&gt;&lt;/li&gt;</span>
                        <span style="color: #062873; font-weight: bold">&lt;/ul&gt;</span>
                    <span style="color: #062873; font-weight: bold">&lt;/nav&gt;</span>
            <span style="color: #062873; font-weight: bold">&lt;/div&gt;</span>
                <span style="color: #062873; font-weight: bold">&lt;/header&gt;</span>
<span style="color: #062873; font-weight: bold">
    &lt;/div&gt;</span>
</pre>

                            </div>
                        </div>
                    </div>





                    <div class="tab-pane fade" id="sgn" role="tabpanel" aria-labelledby="sgn-tab">
                        <div class="btn">
                            <div>
                                <div class="btn6" style="margin: 1rem 0 5rem 0">
                                    <form>
                                        <h1>LOGIN</h1>
                                        <input placeholder="Username" type="text" required="">
                                        <input placeholder="Password" type="password" required="">
                                        <button>Submit</button>
                                    </form>
                                </div>
                            </div>
                            <div class="txt" style="margin: 21px 0 0 0;">
                                <div>
                                    <pre>
<span style="color: #062873; font-weight: bold">&lt;form&gt;</span>
    <span style="color: #062873; font-weight: bold">&lt;h1&gt;</span>LOGIN<span style="color: #062873; font-weight: bold">&lt;/h1&gt;</span>
               <span style="color: #062873; font-weight: bold">&lt;input</span> <span style="color: #4070a0">placeholder=&quot;Username&quot;</span> <span style="color: #4070a0">type=&quot;text&quot;</span> <span style="color: #4070a0">required=&quot;&quot;</span><span style="color: #062873; font-weight: bold">&gt;</span>
               <span style="color: #062873; font-weight: bold">&lt;input</span> <span style="color: #4070a0">placeholder=&quot;Password&quot;</span> <span style="color: #4070a0">type=&quot;password&quot;</span> <span style="color: #4070a0">required=&quot;&quot;</span><span style="color: #062873; font-weight: bold">&gt;</span>
    <span style="color: #062873; font-weight: bold">&lt;button&gt;</span>Submit<span style="color: #062873; font-weight: bold">&lt;/button&gt;</span>
<span style="color: #062873; font-weight: bold">&lt;/form&gt;</span>
<span style="color: #062873; font-weight: bold">
</pre>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="que" role="tabpanel" aria-labelledby="que-tab">
<!-- 問卷按鈕 -->
<div class="btn" style="margin: 21px 0 0 0;">

    <div>
        <div class='btn4'>
            <label>
                <input checked='' name='button-group' type='radio' value='item'>
                <span class='btn4-1 first'>從不</span>
                </input>
            </label>
            <label>
                <input name='button-group' type='radio' value='other-item'>
                <span class='btn4-1'>偶爾</span>
                </input>
            </label>
            <label>
                <input name='button-group' type='radio' value='other-item'>
                <span class='btn4-1'>一般</span>
                </input>
            </label>
            <label>
                <input name='button-group' type='radio' value='third'>
                <span class='btn4-1'>常常</span>
                </input>
            </label>
            <label>
                <input name='button-group' type='radio' value='third'>
                <span class='btn4-1 last'>總是</span>
                </input>
            </label>
        </div>
    </div>

    <div class="txt">
        <pre>

<span style="color: #007700">&lt;label&gt;</span><span style="color: #007700">&lt;input</span> <span style="color: #0000CC">checked=</span><span style="background-color: #fff0f0">&#39;&#39;</span> <span style="color: #0000CC">name=</span><span style="background-color: #fff0f0">&#39;button-group&#39;</span> <span style="color: #0000CC">type=</span><span style="background-color: #fff0f0">&#39;radio&#39;</span> <span style="color: #0000CC">value=</span><span style="background-color: #fff0f0">&#39;item&#39;</span><span style="color: #007700">&gt;</span>
<span style="color: #007700">&lt;span</span> <span style="color: #0000CC">class=</span><span style="background-color: #fff0f0">&#39;btn4-1 first&#39;</span><span style="color: #007700">&gt;</span>從不<span style="color: #007700">&lt;/span&gt;</span><span style="color: #007700">&lt;/input&gt;</span><span style="color: #007700">&lt;/label&gt;</span>

<span style="color: #007700">&lt;label&gt;</span><span style="color: #007700">&lt;input</span> <span style="color: #0000CC">name=</span><span style="background-color: #fff0f0">&#39;button-group&#39;</span> <span style="color: #0000CC">type=</span><span style="background-color: #fff0f0">&#39;radio&#39;</span> <span style="color: #0000CC">value=</span><span style="background-color: #fff0f0">&#39;other-item&#39;</span><span style="color: #007700">&gt;</span>
<span style="color: #007700">&lt;span</span> <span style="color: #0000CC">class=</span><span style="background-color: #fff0f0">&#39;btn4-1&#39;</span><span style="color: #007700">&gt;</span>偶爾<span style="color: #007700">&lt;/span&gt;</span><span style="color: #007700">&lt;/input&gt;</span><span style="color: #007700">&lt;/label&gt;</span>

<span style="color: #007700">&lt;label&gt;</span><span style="color: #007700">&lt;input</span> <span style="color: #0000CC">name=</span><span style="background-color: #fff0f0">&#39;button-group&#39;</span> <span style="color: #0000CC">type=</span><span style="background-color: #fff0f0">&#39;radio&#39;</span> <span style="color: #0000CC">value=</span><span style="background-color: #fff0f0">&#39;other-item&#39;</span><span style="color: #007700">&gt;
</span><span style="color: #007700">&lt;span</span> <span style="color: #0000CC">class=</span><span style="background-color: #fff0f0">&#39;btn4-1&#39;</span><span style="color: #007700">&gt;</span>一般<span style="color: #007700">&lt;/span&gt;</span><span style="color: #007700">&lt;/input&gt;</span><span style="color: #007700">&lt;/label&gt;</span>

<span style="color: #007700">&lt;label&gt;</span><span style="color: #007700">&lt;input</span> <span style="color: #0000CC">name=</span><span style="background-color: #fff0f0">&#39;button-group&#39;</span> <span style="color: #0000CC">type=</span><span style="background-color: #fff0f0">&#39;radio&#39;</span> <span style="color: #0000CC">value=</span><span style="background-color: #fff0f0">&#39;third&#39;</span><span style="color: #007700">&gt;</span>
<span style="color: #007700">&lt;span</span> <span style="color: #0000CC">class=</span><span style="background-color: #fff0f0">&#39;btn4-1&#39;</span><span style="color: #007700">&gt;</span>常常<span style="color: #007700">&lt;/span&gt;</span><span style="color: #007700">&lt;/input&gt;</span><span style="color: #007700">&lt;/label&gt;</span>

<span style="color: #007700">&lt;label&gt;</span><span style="color: #007700">&lt;input</span> <span style="color: #0000CC">name=</span><span style="background-color: #fff0f0">&#39;button-group&#39;</span> <span style="color: #0000CC">type=</span><span style="background-color: #fff0f0">&#39;radio&#39;</span> <span style="color: #0000CC">value=</span><span style="background-color: #fff0f0">&#39;third&#39;</span><span style="color: #007700">&gt;</span>
<span style="color: #007700">&lt;span</span> <span style="color: #0000CC">class=</span><span style="background-color: #fff0f0">&#39;btn4-1 last&#39;</span><span style="color: #007700">&gt;</span>總是<span style="color: #007700">&lt;/span&gt;</span><span style="color: #007700">&lt;/input&gt;</span><span style="color: #007700">&lt;/label&gt;</span>
<span style="color: #007700"></span>
</pre>
    </div>
</div>                   
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col-md-8 -->
    </div>

    <!-- /.container -->
    <script src="/javascripts/Xu.js/jquery-3.3.1.min.js"></script>
    <script src="/javascripts/Xu.js/popper.min.js"></script>
    <script src="/javascripts/Xu.js/bootstrap.min.js"></script>

    <!-- <footer> -->
    <%- include('footer') %>

</body>

</html>

